@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/Express/Vdm/fonts/Open-Sans-regular.eot');
  src: url('/Express/Vdm/fonts/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('/Express/Vdm/fonts/Open-Sans-regular.woff2') format('woff2'),
       url('/Express/Vdm/fonts/Open-Sans-regular.woff') format('woff'),
       url('/Express/Vdm/fonts/Open-Sans-regular.ttf') format('truetype'),
       url('/Express/Vdm/fonts/Open-Sans-regular.svg#OpenSans') format('svg');
}
.vdmForm .deleteBtn:hover {
    background-color: #D52B1E;
   }




.vdmForm input[type="text"], .vdmForm input[type="password"], .vdmForm input[type="number"], select {
    font-size: 12px;
  /*  padding: 7px 13px; */
    font-family: Open Sans;
    height: 34px;
    xwidth: 400px;
    border-radius: 4px;
    background-color: #eeeeee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #555555;
    border: 1px solid #002c60 !important;
  /*  border: 1px solid #B0B0B0 !important; */
    cursor: pointer;
}

/*.addUserText, .vdmForm .h2Heading {
    text-align: center;
    font-size: 24px;
    font-family: Open Sans;
    color: #454545;
    font-weight: bold;
}
.vdmForm .labelText {
    font-size: 14px;
    font-family: Open Sans;
    color: #454545;
    font-weight: bold;
    xmargin-left: 10px;
    xwidth:45%;
}*/

.vdmForm table.tablesorter {
    font-family: proxima-nova, sans-serif;
    border: none;
    border-spacing: 0px;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

.vdmForm .scroll tr {
    display: flex;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}
.vdmForm table.tablesorter thead tr th {
    background-color: #5d81ac;
    border-right: 1px solid #cccccc;
    color: #fff;
    height: 50px;
    font-size: 10px;
    font-family: Open Sans;
}
.vdmForm table.tablesorter tbody td {
    height: 35px;
    font-size: 10px;
    font-family: Open Sans;
    border-right: 1px solid #cccccc;
    background-color: #eef0f3;
    color: #333333;
}
.vdmForm #subButton, .subButton, .completeButton, .createButton, .updateButton {
    background-color: #72ac5d;
    color: #FFF;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
}
#serialNumber{border:none !important;}
.vdmForm input[type="text"]{
    font-size: 15px; 
}
#vdmLightForm .vdmTbody tr td input {
    background: transparent !important;
    cursor: inherit !important;
    padding: 7px 13px !important;
    height: 28px !important;
    font-size: 12px;
}
.vdmForm table.tablesorter tbody td {
    border: 1px solid #CDCDCD;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgb(205, 205, 205);
    color: #3D3D3D;
    padding: 4px;
    vertical-align: top;
}
.vdmForm .viewDetail{
	width : 100%;
}
.vdmForm .viewDetailNew {
    width: inherit !important;
    border: none !important;
}
.vdmForm .scroll tbody{
	display:initial;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(/Express/icons/radial_inactive.png);
    cursor: pointer;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    /*background: url(/Express/icons/polycom_radio.png);*/
   	background: url(/Express/icons/green_button.png);
    cursor: pointer;
}
input[type="radio"]:checked + label span {
	/*background: url(/Express/icons/polycom_radio.png);*/
    background: url(/Express/icons/green_button.png);
    cursor: pointer;
}
.vdmForm .deleteBtn, .vdmForm .deleteButton, #vdmLightSearchForm #subButtonDevice{
    /*background-color: #000; */
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
}
.vdmForm .go {
    /* background-color: #000; */
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
}


.vdmForm input[type="checkbox"] {
    display: none;
}

.vdmForm input[type="checkbox"]:checked + label span {
   /* background: url("/Express/icons/polycom_radio.png") no-repeat;*/
    background: url("/Express/icons/green_button.png") no-repeat;
    width: 35px;
    height: 35px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
}
.vdmForm input[type="checkbox"] + label span {
    display: inline-block;
    xpadding: 0 0 0 0px;
    background: url("/Express/icons/radial_inactive.png") no-repeat;
    width: 35px;
    height: 35px;
    margin: -2px 10px 0 0;
    vertical-align: middle;

    cursor: pointer;
}
/*
.inputColor{background: #EEEEEE !important;color: #333333 !important; font-weight:600 !important;}
.inputColorReadOnly{background: #E8E8E8 !important;color: #9D9D9D !important; font-weight:bold !important;} */
#vdmLightDisplayContent .span_vdm, #vdmLightForm .span_vdm, #vdmLightPlycomPhoneForm .span_vdm{width:49%;}
#vdmLightFormDoorPhone .tableVdmColor th{color:white !important;}
#vdmLightForm .tableVdmColor th, #vdmLightPlycomPhoneForm .tableVdmColor th{
	color:white !important;
	
	font-weight:400; 
	height:54px;
	vertical-align:middle;
	text-align:left !important;
	padding-left:5%;
}
.vdmTbody tr td {
    padding: 7px 12px;
   
    color: #333;
    color:#555555;
}
#vdmLightFormDoorPhone .vdmTbody tr td input, #vdmLightPlycomPhoneForm .vdmTbody tr td input{
    background: transparent !important;
    cursor: inherit !important;
   
    padding: 0 !important;
    height: 28px !important;
}
#vdmLightFormDoorPhone .vdmTbody tr, #vdmLightForm .vdmTbody tr, #vdmLightPlycomPhoneForm .vdmTbody tr {
    border-bottom: 5px solid #e8e8e8;
    background: #fff !important;
}
#vdmLightFormDoorPhone select option, #vdmLightForm select option, #vdmLightPlycomPhoneForm select option{background:white;}


<!-- -->

#vdmLightFormAlerter .tableVdmColor th{color:white !important;}
#vdmLightForm .tableVdmColor th, ##vdmLightPlycomPhoneForm .tableVdmColor th{color:white !important;}
.vdmTbody tr td {
    padding: 7px 12px;
    
    color: #333;
    color:#555555;
    line-height:2;
}
#vdmLightFormAlerter .vdmTbody tr td input {
    background: transparent !important;
    cursor: inherit !important;
    border: none !important;
    padding: 0 !important;
    height: auto !important;
}






#vdmLightFormAlerter select option{background:white;}

#vdmLightFormAlerter .span_vdm{width:49%;}
#vdmLightFormAlerter .tableVdmColor th{color:white !important;}
.tableVdmColor th{color:white !important;}

.vdmForm .scroll thead tr::after {
    content: '';
    overflow-y: initial;
    visibility: hidden;
    height: 0;
}

/*#AlgoAdvancedOption {
    border: none !important;
    border-radius: 4px;
    padding: 16px;
    margin-top: -60px;
}*/
.lebelPadding {
    width: 174px;
}


.table1 tbody tr{
	border-bottom: 5px solid white;
    background: #f3f3f3;
	
}

/*.inputBackground{
	background-color:#eeeeee !important;
	color:#333333 !important;
	font-size: 15px;
    font-weight: 600 !important;
    padding:4px 7px !important;
} */

.tableLineType th{
	width:33% !important;
	text-align:center !important;
	xpadding-right:10% !important;
	font-weight:500 !important;
}
.tableLineType select {
	
    xpadding: 0px 10px !important;
 /* font-size: 15px !important;
    font-weight: 600 !important;  
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    xwidth:100% !important; */
    float:right !important;
    /* margin-right:27%; */
}
.tableLineType .lineType {
/*  background-color:#fff !important;
 	font-size: 15px !important;
    font-weight: 600 !important;  
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important; */
    width:128px !important;
    float:right !important;
    /* margin-right:27%; */
}

.tableLineType .lineKey {
	padding:0px !important;
	font-size:15px;
	width:100px !important;
}

.tableLineType .regLineKey {
	width:70px !important;
}

.tableLineType .callsPerLine {
	width:85px !important;
}


/*.tableLineTypePoly select{
	background-color:#fff !important;
}*/

.tableLineType .inputBox, #allUsers.tableLineTypePoly .inputBox {
	background-color:#fff !important;
    padding: 0px 10px !important;
	font-size: 15px !important;
    font-weight: 600 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    width:65% !important;
    float:right !important;
    margin-right:27%;
}

.tableLineTypePoly select{
	background-color:#fff !important;
    padding: 0px 10px !important;
	font-size: 15px !important;
    font-weight: 600 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
	
}
/*input[type="button"], input[type="reset"], input[type="submit"], .vdmForm #subButton, .subButton, .completeButton, .createButton, .updateButton {
	background: #D52B1E !important; 
	background: #000;
} */
/* .subButton:hover, #subButton:hover{
	background: #D52B1E;
}
.deleteBtn input[type="button"]{
	background: #000 !important;
} */

/* .labelAboveInput{
	margin-left:12px;
} */

.tdStrobe{
	width:50% !important;
	padding-left:20% !important;
}
.thStrobe{
	width:50% !important;
	padding-left:20% !important;
}
.tableLineType th.thDoor, .tableLineType td.tdDoor, .tableLineType th.thPolyD, .tableLineType td.thPolyD{
	xwidth:33% !important;
	xpadding-left:11% !important;
	text-align:left !important;
}
.tableLineType td.tdDoor .inputBox, .tableLineType td.tdDoor select{
	float:left !important;
}
/* .softKeyOp col-md-3{padding: 0 !important;} */
.tableLineType .thAudio{
	width:25% !important;
	padding-left:3% !important;
	color:#fff;
	text-align:left !important;
}
.tableLineType .tdAudio{
	padding-left:3% !important;
}
.rightScrollableDesc {
    width: 36%;
    margin-left: 4%;
}
.leftScrollableDesc {
    clear: both;
    width: 36%;
}
  .scrollableList {
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    
}
.connectedSortable {
    font-size: 11px;
    color: #747676;
    padding-left: 5%;
    padding-right: 1px;
}
/* #serialNumber{border: 1px solid #B0B0B0 !important;} */
#serialNumber{border: 1px solid #002c60 !important;}

.vdmForm input[readonly], input[type="text"]:disabled
{
    background-color:#ddd !important;
    cursor: no-drop;
}

/*#codec1 .dropdown-wrap::before, #codec2 .dropdown-wrap::before, #codec3 .dropdown-wrap::before{
    right: 22px;
}*/
#tabletr tr{
	background:#fff !important;
	border-bottom:5px solid #e8e8e8 !important;
}

