select.input-sm, #inputTextAFilter input[type="text"]{width:350px !important;}
.rules_list{border-left: 0 !important;}
.rules_list_li{background:none !important;}
.operators_list_container{display:none !important}
.filter_container, .rule_tools_container{padding: 0 !important;}
.filter_rules_container {padding-right: 15px !important; padding-left: 15px !important;}
.rules_group_header{padding: 0 !important;}
	.filter_container, .rules_group_condition_container, .filter_value_container{float: left;}
	.user_filter_set{margin:0;}
	.rules_group_condition_container{margin-right: 10px;}
.magnify{   
	background: url(/Express/images/NewIcon/magnify.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}
input[type="search"]{
	background: url(/Express/images/NewIcon/magnify.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #eee;
}
/*#groupDetails .groupModifyTab li a{
	width:200px !important;
}*/

.centerAllButton{
	text-align: center;
    width: 860px;
    margin: 0 auto;
}
.selectButton{
	    background: #5d81ac;
	    color: white;
	    padding: 6px 12px;
	    border: 1px solid #ddd;
}
.bulkUserTable tbody tr td.bad{
	background:red;
}
.bulkSCAAddUser tbody tr th {
    color: white;
    background-color: #5d81ac;
    border-right: 1px solid #cccccc;
    height: 40px;
    font-size: 13px;
    font-family: Open Sans;
    line-height: 3;
    font-weight: bold;
}

.grpWideTable tbody tr th {
    color: white;
    background-color: #5d81ac;
    border-right: 1px solid #cccccc;
    height: 40px;
    font-size: 13px;
    font-family: Open Sans;
    line-height: 3;
    font-weight: bold;
}
.AAChoice{
	width:100% !important;
}
.formContainerAA{
	backgrount:transparent !important;
}
.aaInfoForm{
	width:830px;
	margin: 0 auto;
}
#basic_info, #aaSettings_1, #afterHours_1, #businessHours_1, #holiday_1, #call_policy_1, #services_1{padding: 0;}

/* .ui-widget-content > .ui-widget-content{
	padding:0;
	margin:0;
} */
.paddingBottom{
	padding-bottom:100px;
}

div#aaTabs{
	border:none;
	background:transparent;
}
.aATable select, .aATable input[type="text"]{width:100% !important;}

/*.labelTextGrey{font-size: 12px;font-family: Open Sans; color: #9c9c9c; font-weight: bold;} */
select{
font-size: 12px;
/*padding: 2px 5px !important; */
font-family: Open Sans;
height: 30px !important;
width: 400px !important;
border-radius: 4px;
background-color: #eeeeee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #555555;
border: 1px solid #002c60 !important;
cursor:pointer;}

.ui-tabs .ui-tabs-nav {
    /* margin: 0 !important; */
    /* padding: none !important; */
}

form#change_log_form,form#admin_log_form {
    width: 830px;
    margin: 0 auto;
}

.alignMentClass{
	float:left;
	width:100%;
	padding-bottom:6px;
}

#change_log_form select{
	width:100% !important;
}
#change_log_form input[type="text"]{
	width:100% !important;
}
.changeDetail .dataTables_info{
	display:none;
}
.changeDetail .dataTables_paginate{
	width:100%;
	text-align:center;
}
.viewDetail {
    width: 100%;
	border: none;
	margin: 0 auto;
}
a.numberList{
    color: #6ea0dc !important;
}

#enableAllFiltersBtn:hover, .applyFilterBtn:hover, #clearAllFiltersBtn:hover, .filterTitleBtn:hover {
    background-image: none !important;
    background-color: #FFB200 !important;
}
.aATable tbody tr td{
	flex:none;
}
#vdmLightSearchForm, #indexForm{
	width:830px;
	margin:0 auto;
}

.autoAttendantButton .deleteButton, .autoAttendantButton .deleteThisSubmenu, .autoAttendantButton .cancelButton, .autoAttendantButton .subButton{
	width:170px;
	height:36px;
}

.rightScrollableDesc{
	width:50% !important;
}
.leftScrollableDesc{
	width:50%;
}
#servicePackId .scrollableList{
	padding:5px;
	width:80%;
}
.dropdown-wrap-ui:before{
	top:0;
}
table.aATable thead tr th{
	padding:5px !important;
}

#resetPassDefaultDiv{margin-bottom:20px;}
#resetWebDefaultDiv{margin-bottom:20px;}
.scaUserstable thead tr th{
	height:40px !important;
	padding:4px !important;
}
#ppScrollTable thead tr th{padding:15px;height:50px;}
#ppScrollTable tbody tr td{padding:5px;}
.scaUserstable thead tr{
	background-color:#5d81ac;
}
.tablesorter thead tr{
	background-color:#5d81ac;
}
#newCFSCriteriaForm, #newCFSCriteriaForm_Basic {
	background:transparent !important;
}
