/* Express sheet */

.marginUserFlter {
	margin-left: 8px;
}
.noTextColor {
	color: #555555 !important;
}
table#allUsers.sasTestTableClass {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd !important;
}

.enableVM {
	text-align: right;
	margin-right: 18px;
}

.thsmallExSheet{
	width: 150px !important;
	height: 23px !important;
	padding: 13px 12px 7px 12px !important;
	text-align: center !important;	
}

.alignCenter {
	text-align: center !important;	
}

.expressSrollTable {
	max-width: 100%;
	overflow: auto !important;
}


/* modify user */

.ui-button: hover: not([disabled]) {
    background: #FFB200 !important;
    cursor: pointer;	
}
#generateFormSettings, #expressSheetsForm, #generateAccordion{width:860px; margin:0 auto;}
.overPanel{
	border:none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;	
}


.expressTabLi {
	border: 1px solid #cccccc !important;
padding: 0;
background-color: #5d81ac !important;
width: 200px;
text-align: center;
padding: 10px 5px !important;	
}
.expressTabLi:hover{
	background-color: #ffb200 !important;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus{
	background-color: #ffb200 !important;
}

.expressSheetHeadText {
    text-align: center !important;
    font-size: 24px !important;
    font-family: Open Sans !important;
    color: #6ea0dc !important;
    font-weight: bold !important;
}


/* radio and checkbox for call control */
.userModForm .newCheckBoxImg:checked + label span {
   /* background: url("/Express/icons/polycom_radio.png") no-repeat;*/
    background: url("/Express/images/icons/radial_active.png") no-repeat;
    width: 35px;
    height: 35px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
    cursor: pointer;
 
}
.userModForm .newCheckBoxImg + label span {
    display: inline-block;
    background: url("/Express/images/icons/radial_inactive.png") no-repeat;
    width: 35px;
    height: 35px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
     cursor: pointer;

}

.userModForm .newCheckBoxImg + label .checkRealBtn {
    display:inline-block;
    padding: 0 0 0 0px !important;
    background:url("/Express/images/icons/checkbox_unchecked.png") no-repeat;
    height: 22px !important;
    width: 22px !important;
    vertical-align: middle !important;
    cursor:pointer;
}

.userModForm .newCheckBoxImg:checked + label .checkRealBtn {
    background:url("/Express/images/icons/checkbox_checked.png") no-repeat !important;
    height: 22px !important;
    width: 22px !important;
    display:inline-block !important;
    vertical-align: middle !important;
    cursor:pointer;
}
/* radio and checkbox for call control end*/

.fontHead {
	font-size: 14px !important;
}

.minHeight {
	min-height: 200px;
}
.nORBF {
    height: 36.5px;
    width: 400px;
}
/* modify group*/

#portalExtErrorMsg {
	color:#ac5f5d; 
	height:175px;
}

/*
input[disabled] {
	background-color: #e3e3e3 !important;
}
*/

select[disabled] {
	background-color: #e3e3e3 !important;
}

input[type="button"]:disabled {
	opacity: .60;
}

/* hunt group */

#hgTabs{background-color:transparent !important;border:none !important;}
#hgSettings_1{padding:0 !important;}
.subButtonHG{ text-align: center; }

/* call center */
#ccCodesACD_1{/*padding: 0;*/}
#ccTabs{background-color:transparent !important;border:none !important;}
#ccSettings_1, #ccCodesUnavailableSettings_1{padding:0 !important;}
.ccModDiv input[type="text"], .codeTypeDiv input[type="text"]{
    width: 100% !important;
}
.ccModDiv, .acdDiv, .marginScdDiv{margin: 10px 0;}
.ccBox{
	zoom: 1;
    height: 500px;
   /* border: 1px solid #002c60;*/
    border: 1px solid #9c9c9c;
    max-height: 275px;
    overflow-x: hidden;}


/* devices ui*/
#searchDeviceOption{width:100%;}
.deviceFrm{width:830px; margin:0 auto;}
.annDelete{font-size: 10px;font-family: Open Sans; color: #5d9aac;line-height: 12px;}


.changeDetail label{
	font-size: 12px;
	font-family: Open Sans;
	color: #6ea0dc;
	font-weight: bold;
	margin-left: 10px;
}
/*
input#downloadCSV1{
	background: url(../images/icons/download_csv.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	border: none;
}
#downloadCSV1:hover{
	background: url(../images/icons/download_csv_over.png) !important;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	border: none; */
}
#example tbody tr{
	height:37px;
}
#example thead tr th{
	color: white;
    background-color: #5d81ac;
    border-right: 1px solid #cccccc;
    font-size: 10px;
    font-size: 12px;
    border-bottom: none;
    border-left: none;
    border-top: none;
    font-weight:normal;
 }

#example tbody tr td:last-child{
	border-right:none;
}

#example tbody tr td {
    border-right: 1px solid #cccccc;
    background-color: #eef0f3;
    color: #333333;
    border-left: none;
    border-bottom: none;
    border-top: none;
}
table.dataTable.no-footer{
	/* border-bottom:1px solid #ddd !important; */
}

/* Site Management */
.buttonDivClass{
	margin-top:0px;
}
.siteCloseButton{
	margin-top:0px;
	background-color: #5d9aac !important;
	width: 226px;
	height: 40px;
	border-radius: 4px;
	border:none;
	font-weight: normal;
	color: #ffffff;
	float:right;
}
.fcorn-register p.register-submit input {
    background: #5d9aac;
}

.fcorn-register p.register-submit input:hover {
	background: #ffb200;
}

.dataTables_filter label, .dataTables_length label{
	color: #6ea0dc;
} 

.connectedSortable {
    padding-left: 0px;
    padding-right:0px;
}

.exportExcelBtn{
	background: url(../images/icons/download_excel.png);
	border: 0;
    display: block;
    height: 40px;
	width: 41px;
	float: right;
}
.exportExcelBtn:hover{
	background: url(../images/icons/download_excel.png) !important;
}

.submitAndView{
    background-color: #72ac5d !important;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
}
.createNewButton{
    background-color: #5d9aac !important;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    opacity: 0.75;
}
.labelTextGreyHeading{
	font-family: Open Sans; 
	color: #9c9c9c; 
	font-weight: bold;
	
}
#gwMods{
	width:100% !important;
}

.grpWideTable.table th {
    text-align: center;
}

.bulkUserTable tbody tr th{
	color:white;
	background-color: #5d81ac;
	border-right: 1px solid #cccccc;
	height: 40px;
	font-size: 13px;
	font-family: Open Sans;
	line-height:3;
	font-weight:bold;
}


.bulkUserTable tbody tr td{
	background: transparent;
	border-right: 1px solid #ddd;
}

.bulkUserTable tbody tr td input{
	border:none !important;
}

#allNumbers tbody tr td{
	line-height:1.4;
}
.changeLeftB3{
	padding: 6px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px 4px 4px 2%;
}

.changeD3{
	padding: 6px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px 4px 4px 4px;
}
.changeB3{
	padding: 6px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px 4px 4px 4px;
}

.exportExcelDiv input[type=submit]:hover{
	background: url(../images/icons/download_excel_over.png) !important;
}

.downloadCsvBtn{
	background: url(../images/icons/download_csv.png);
	border: 0;
    display: block;
    height: 40px;
    width: 41px;
}

.changeLeftB{
	padding: 6px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px 4px 4px 2%;
}

.changeD{
	padding: 6px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px 4px 4px 4px;
}
.changeB{
	padding: 6px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px 4px 4px 4px;
}

.usersTableButton{
	float:right;
	padding:0;
}

.deleteUsers,downloadDeviceCSV, #downloadCSV, #downloadCSV_quickSearch,#downloadCSV1, .downloadExcel, .deleteUsers_Basic, #downloadCSV_Basic{
	float:right;
}

/* schedule*/
.ui-timepicker-wrapper{
	widht:200px;		
}


/* .ui-dialog-buttonset{
	margin-bottom: 70px;
	margin-top: 50px;
} */
/* addministrator*/

/*.btnAlignCenter{
	margin-left: 124px !important;
}*/


/* expressSheets */
.expTable tbody tr td input{
	border:none !important;
}
.expTable tbody tr td.bad{
	background:red;
}

/*administrator*/
/* #hgChoice{
	width: 812px !important;
} */

/* button align*/
.btnAlign{
	margin-bottom: 70px;
	margin-top: 45px;
}
/* call center*/
/* #ccCodesGroup_1{padding: 0;} */
.remCodeBtn{
	height:30px;
}

.marginTopDiv {
    margin-top: 5px;
}

.marginTopText {
    margin-top: 12px;
}

.TabWidthHuntGroup li .tabs{
	width: 147px;
	text-align: center;
}
.radio-inline {padding-left: 0 !Important;}
#uFilterNumber input[type="number"] {
    width: 200px !important;
}

.formWidthEx{width:860px !Important; margin:auto;}

.listStyleType ol {
    list-style-type: decimal;
}

.disableClassSiteM {
	opacity: 0.5;
	cursor: no-drop;	
}

.minSelectHeight {
	height: 95px;
}

/* user filter button */
.userfilterBtn {background-color: #5d9aac !important;width: 226px;height: 40px;border-radius: 4px;border:none;font-weight: normal;color: #ffffff !important;}

.userfilterBtn:hover {
	background: #FFB200 !important;
    cursor: pointer;
    color: #ffffff !important;
}
#searchOption {
	background: transparent !important;
}
.nonePointer {
    pointer-events: none;
    background: #eaeaea !important;
}
table.dataTable.no-footer {
    border-bottom: 0px solid #ccc !important;
}
#addSasUserForm .errorClass {
    color: red;
}
#userCustomTagsTable tbody tr:hover td {
	background-color: #dcfac9 !important;
}

.resetTagBtnLabel {
	text-align: center;
    width: 226px;
    float: right;
}

.addTagBtnLabel {
	text-align: center;
    width: 226px;
}
.floatRight {
	float: right;
}
#dialPlanPolicyTable tbody tr td{
	background-color:transparent;
}
#dialPlanPolicyTable tbody tr{
	background-color:#eef0f3;
}
