#groupModify #basic_info, #groupModify #domain_1, #groupModify #services_1, #groupModify #voicePortalServices_1, #groupModify #voicePortalServices_1, #groupModify #networkServices_1, #groupModify #dns_1, #groupModify #callPolicy_1{
	padding: 0;
} 

#deviceTable th{
	/*height:30px;*/
}
 .groupModifyCls, #groupDetails, #groups, #enterpriseData{
	width: 830px; 
	margin: 0 auto !important;
} 

#deviceTable.tablesorter thead tr .header {
	background-image: none;
}
/* hide shorting icon */
#deviceTable.tablesorter thead tr .thSno {
    background-image: none !important;
}

#main_device_search, #SCA_Only_Devices{padding: 0 !important;}
form#scaSearchOption, #searchDeviceOption {width: 830px; margin: 0 auto;}

input#searchDeviceVal {
    width: 100% !important;
    /* height: 40px !important; */
}

#scaSearchDeviceVal{width: 100% !important;}

/*#groupServiceTable.tablesorter thead tr .header:nth-child(2),
#groupServiceTable.tablesorter thead tr .header:first-child,#servicePackTable.tablesorter thead tr .header:first-child,
#userServiceTable.tablesorter thead tr .header:first-child */
  #groupServiceTable.tablesorter thead tr .header,#groupServiceTable.tablesorter thead tr .header,#userServiceTable.tablesorter thead tr .header,#servicePackTable.tablesorter thead tr .header{
    xbackground-image: url(/Express/images/icons/arrows_rest.png);
    background-image: none !important; 
	background-repeat: no-repeat;
	  padding: 15px 0; 
	text-align: center;
	/* background-position: 96% 37% !important; */
}

#callPolicy_1 input[type=text]{
	width: 200px !important;
}

#networkServices_1 select{
	width: 267px !important;
	height: 250px !important;
}
#dns_1 select, #dnsData_1 select{
	width: 230px !important;
	height: 400px !important;
}

#networkServices_1 .servicesButton, #dns_1 .dnsButton, #dnsData_1 .dnsButton{
	height: 250px !important;
    vertical-align: middle;
    display: table-cell;
}

#departmentGroup_1, #department{
	width: 830px; 
	margin: 0 auto !important;
	padding:0;

}
input#selectDepartment, input#selectGroup {
    width: 100% !important;
}
.groupModifyTab{
	width:1100px;
	margin : 0 auto;
}

.addRemoveDiv{
	width:720px;
	margin:0 auto;
}

.extraDivRow{
	clear:both;
}
form#siteManagement{width: 830px; margin: 0 auto;}
.siteReportCls, .sasTesting{padding: 0 !important;}
/*input#searchSasUsers{width: 100% !important;}*/

.assignNumberAdd {
    background-color: #5d9aac !important;
    height: 27px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
}

.assignNumberRemove {
    background-color: #ac5f5d !important;
    height: 27px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
}

.expressSheetUsers > span, .expressSheetUsersBasic > span {
    font-size: 10px;
    font-family: Open Sans;
    color: #b24d4d;
    line-height: 12px;
}
.expressSheetUsers, .expressSheetUsersBasic {
    padding-right: 0;
    text-align: center;
    margin-top: 22px;
}
.expressSheetUsers > img, .expressSheetUsersBasic > img {
    width: 35px;
    cursor: pointer;
}
#userFiltersForm{
	margin-left:0%;
	width:100%;	
}

.twoColWidth{
	width:830px; 
	margin:0 auto;
}

.thmid{
	width:200px !important;
	/*height:23px !important;*/
	padding:13px 12px 7px 12px !important;
	text-align:left;
	
}
.thbig{
	width:300px !important;
	/*height:23px !important;*/
	padding:13px 12px 7px 12px !important;
	text-align:left !important;
}

#allUsers.tablesorter thead tr .header:first-child, #enterpriseGroupServiceTable.tablesorter thead tr .header:first-child, #enterpriseUserServiceTable.tablesorter thead tr .header:first-child, #deviceTable_quickSearch.tablesorter thead tr .header:first-child {
	background-image:none !important;
}

.thActivated{
	width: 61px !important;
	/* height: 23px !important; */
	padding: 13px 30px 7px 10px !important;
	text-align: left !important;
}

#allUsers.tablesorter thead tr .header {
	background-image: url(/Express/images/icons/arrows_rest.png);
	background-repeat: no-repeat;
	padding: 15px 0;
	text-align: center;
	background-position: 93% 45% !important;	
}

.thRegistered{
	width: 68px !important;
	/* height: 23px !important; */
	padding: 13px 30px 7px 10px !important;
	text-align: left !important;
}

/* Added By Anshu @02 Feb 2018 */
.CFSNewBtn:hover
{
    background-image: none !important;
    background-color: #FFB200 !important;
}
/*comment
.subButton:hover
{
    background-image: none !important;
    background-color: #FFB200 !important;
}
*/

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #dddddd;
        background-color: #eef0f3;
}
.btn-averistar, .btn-averistar {
	/* box-shadow: 0 5px 5px #1DAAE3 !important; */
        box-shadow: 0px !important; 
}

#download{
	float:right;
}
#mainBody {
    width: 100%;
    text-align: center;
    clear: both !important;
    position:absolute;
   /* top:9%; */
    top:0%;
}
.blueSeparator {
    height: 4px;
    background-color: #054da2;
    top: 68px;
    position: fixed;
    z-index:9;
}

/*.ui-front {
    z-index: 1 !important;
}*/

.centerDescUserNotFound{
	color: #ffffff;
	line-height: 1.4;
	text-align: center;
	width: 100%;
	display: block;
}
.dnranges{
	/* border:1px solid #000;*/
        border: 1px solid #313b48;
	height:406px !important;
	padding:3px 3px 3px 1px !important;
}

.dnranges select{
	border: none !important;
}

 table#announcementTable tbody tr {
     margin-top: 0px !important;  
}

#announcementTable.tablesorter .thSno{
    background-image: none !important;
      
}
#announcementTable tbody tr td:first-child label {
   margin-left: 10px;
}

#announcementTable.tablesorter thead th:first-child, #announcementTable.tablesorter tbody td:first-child {
    background-image: none !important;
    width: 50px !important;
    padding: 15px !important;
    text-align: left;    
}
#announcementTable.tablesorter thead tr .header {
	background-image: none;
}
#announcementTable.tablesorter thead tr .thSno {
    background-image: none !important;
}
#announcementTable.tablesorter thead tr .thsmall , #announcementTable.tablesorter tbody tr .thsmall {
    background-image: none;
    width: 150px !important;
}

#announcementTable {
	margin-left: 20px !important;	
}
.annTableButton{
	float:right;
	padding:0;
	height: 95px;
}

.assignUserSerTitle {
	width:365px;
	margin-bottom: 1px;
}

.userServiceBts {
	float:left;
	padding: 90px 33px 18px 33px;
}

.userServiceDivHeight {
	height:auto !important;	
}

#allNumbers {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: none;
}
#allNumbers tbody{
	border:none;
}
#allNumbers tbody tr td:last-child{
	border-right:none;
}
/*table.changeLogTableClass tbody{
	max-height: none;
    height: auto;
    overflow: hidden;
} */
table.changeLogTableClass thead tr{
	background:#5d81ac;
}
table.changeLogTableClass tbody{
	border:none;
}
table.changeLogTableClass{
	border-right:1px solid #ddd;
}
#ppScrollTable tbody{
	border:none;
}
#ppScrollTable{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
#ppScrollTable tbody tr td:last-child{
	border:none;
}
table.audioCodesTableClass thead tr th.thAudio{
	border-right:1px solid #ddd;
	padding:15px !important;
}
table.audioCodesTableClass tbody tr td.thAudio{
	
	padding:15px !important;
	border:none;
	background-color:#eef0f3;
	color:#333;
}
table.audioCodesTableClass tbody tr td.thAudio input{
	width: 100% !important;
    margin: 0;
    border-radius: 5px !important;
    font-size: inherit !important;
    font-weight: normal !important;
}
table.audioCodesTableClass thead tr{
	background:#5d81ac;
}
table.audioCodesTableClass tbody tr select{
	width:100% !important;
}
table.audioCodesTableClass tbody#tabletr tr{
	border-bottom: 1px solid #e8e8e8 !important;
}
#tabletr{
	border:none;
}

.audioCodesTableClass{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
table.algoDevicesTableClass thead tr{
	background:#5d81ac;
}

table.algoDevicesTableClass thead th{
	padding:18px;
	border-right:1px soild #ddd;
}
table.algoDevicesTableClass{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
table.algoDevicesTableClass tbody#tabletr tr{
	border-bottom: 1px solid #ccc !important;
}
table.algoDevicesTableClass tbody#tabletr tr td {
    border: none;
    padding: 15px !important;
    line-height: 2;
    background-color: #eef0f3;
}
table.algoDevicesTableClass thead th{
	border-right:1px solid #ddd;
}
table.algoDevicesTableClass tbody#tabletr select{
	width:100% !important;
}
table.doorPhoneClass tbody#tabletr tr td input{
	width: 100% !important;
    margin: 0;
    border-radius: 5px !important;
}
table.polycomDeviceTableClass{
	border-left:none !important;
	border-right:1px solid #ddd !important;
	border-bottom:1px solid #ddd !important;
	border-top:none !important;
}

table.polycomDeviceTableClass tbody#tabletr tr td{
	background-color:#eef0f3;
}
table.numbersClass tbody tr td{
	border:none;
}
table.changeLogTableClass tbody tr td{
	border:none !important;
}
#ppScrollTable tbody tr td {
    padding: 5px;
    border: none;
}
table#allNumbers tbody tr:hover td, table#allNumbersRanges tbody tr:hover td{
	background-color:#dcfac9 !important;
}
table.changeLogTableClass tbody tr:hover td{
	background-color:#dcfac9 !important;
}
table#ppScrollTable tbody tr:hover td{
	background-color:#dcfac9 !important;
}
table.audioCodesTableClass tbody tr:hover td{
	background-color:#dcfac9 !important;
}
table.algoDevicesTableClass tbody tr:hover td, table#enterpriseUserServiceTable tbody tr:hover td{
	background-color:#dcfac9 !important;
}
table#announcementTable tbody tr td{
	border:none;
}
table.sasTestTableClass tbody tr td{
	border:none;
}

table.sasTestTableClass tbody tr td.thSno{
	padding:18px !important;
}
table.sasTestTableClass {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table#deviceTable tbody tr td.thSno{
	padding:15px 5px !important;
}
#deviceListDiv #selectCheckDiv #selectAllChk +label span{
	margin-left:0px !important;
}
table#announcementTable tbody{
	border:none;
}
table#announcementTable{
	border-right:1px solid #ddd;
	border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.csvIconDivData{
	height:auto !important;
}
.prevChangeGroup:nth-of-type(2) {
    border-top: 1px solid #ffffff;
}
.changeGroupToolTip a {
	white-space: nowrap !important;
	padding-right: 13px !important;
}
.removeLoginLogoBtn {
    margin-left: -25px;
}

.filterMargin{
	margin-right: 30px;
}

.downloadCSVDeviceType, .downloadCSVEntDeviceType{
	float:right;
	text-align:center;
}
.downloadCSVDeviceType > img, .downloadCSVEntDeviceType > img{
	width: 35px;
    cursor: pointer;
}
.downloadCSVDeviceType > span, .downloadCSVEntDeviceType > span{
	font-size: 10px;
    font-family: Open Sans;
    color: #5d9aac;
    line-height: 12px;
    cursor: pointer;
}
/*#deviceTypeTableEnterprise thead tr th:first-child{
	background-image: none !important;
}
#systemLabelDeviceTable .triggerColumnSystemTable{
	background-image: none !important;
}*/

#systemDevicesTableForm table.dataTable thead th, #systemDevicesTableForm table.dataTable thead td{
	border-bottom:none !important;
}
#systemDevicesTableForm .dataTables_scrollBody{
	border-bottom:1px solid #ddd;
}

#allNumbersRanges tbody tr, #allNumbers tbody tr {
	cursor: pointer;
}

.noMouseEvent {
	pointer-events: none;
}



/* #enterpriseModify select, #enterpriseModify input{ */

#enterpriseModify select, #enterpriseModify input:not(#enterpriseAddDns):not(#enterpriseRemoveDns):not(#closeEnterpriseDNsBtn):not(#addEnterpriseDNsBtn):not(#removeDnsButton):not(#closeRemoveDnsButton) {
	width:100% !important;
}
.disableService {
	background: #d5d5d5 !important;
    opacity: 0.5;
}
.serWidthClass {
	max-width: 120px;
}

#enterpriseGroupServiceTable .serInputWidth, #enterpriseUserServiceTable .serInputWidth {
	width: 74% !important;
}

.serCheckSpace {
	margin-right: 7px;
}
.limitSearch select {
    width: 65px !important;
}

table#deviceTable tbody tr td,table#userCustomTagsTable tbody tr td , table#deviceConfigCustomTable tbody tr td ,table#allUsers tbody tr td{
	display: flex !important ;
}
table.aATable tbody tr td{display:flex;}

table#ppScrollTable tbody tr td{display:flex; padding:9px 15px;}

table.tablesorter tbody td{
	/* display: flex; */
}
#announcementTable tbody tr td:first-child label{
	margin-left: 2px;
}
table.scroll tbody tr td {
	display:flex;
}

.aATable tbody tr{background-color:#eef0f3;}


#deviceTable thead tr th{border: none !important;}

.userServiceLink {
	width: auto !important;
	text-decoration: none !important;
}

#enterpriseUserServiceTable tbody tr ,table#enterpriseAdministratorTable tbody tr{
	cursor: pointer;
}

table#enterpriseAdministratorTable tbody tr:hover{
	cursor: pointer;
        background-color:#dcfac9 !important;
}

table#enterpriseAdministratorTable thead tr th:first-child {
    background-image: none !important;
    cursor: default;
}
.searchAdministratorTable{margin-top:25px;}

#enterpriseAdministratorTable th {
	width: 0 !important;	
}

 table#enterpriseAdministratorTable tbody tr td {
    padding: 5px 15px !important;
}
#downloadAdministratorCSV{cursor :pointer ;}

.labelTextMarginAdminTypeSP{width: 19% !important;}
	 .labelTextMarginAdminCustomer{width: 16% !important;}
#newAdministratorDialog p, #newAdministratorDialog #validationDiv, #enterpriseDialog p {
    text-align: center;
}

table#enterpriseAdministratorTable tbody tr:hover td {
	background-color:#dcfac9 !important;
}
/*calendar issue */
#ui-datepicker-div .ui-state-highlight {
    border: none;
    background:transparent;
    color:#222222;
 }
 
 
 #ui-datepicker-div .ui-state-active,#ui-datepicker-div .ui-state-active,#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-state-hover {
    background-color: #ffb200 !important;
    color: #fff !important;
}

#deviceTypeTableEnterprise tbody tr td .dropdown-wrap{width:100% !important;}

#provisionFile::-ms-value {
  border-style: none;
  display:none ;
}

#provisionFile::-ms-browse {
    border: 2px solid #d8dada !important;
}


#dnsOperationDialog p {
    text-align: center !important;
}

#deviceTypeTable_info{color: #9c9c9c !important;}


tr.DNsTableClass:hover td{
    background-color:#dcfac9 !important;
    
}
tr.DNsTableClass{cursor: pointer;}
tr.DNsTableClass td{padding: 10px 14px !important;}
tr.DNsTableClass.disableService:hover td {
    background: #eef0f3 !important;
    cursor: default !important;
}

.dnsShowSelectAll{
   visibility: hidden; 
}


/*ent add domain button */
.addDomainClass img{
    float: right;
    width: 35px;
    margin-right: -17px;
    margin-top: -5px !important;
    cursor:pointer;
}
.addDomainClass .labelTextOpp {
    text-align: center;
    margin-left: -10px !important;
    font-size: 10px !important;
    float: right;
    margin-right: -35px;
    margin-top: 32px;
    margin-bottom: -6px;
}

#deviceTable_quickSearch_length select {
    width: 65px !important;
}

#deviceTable_quickSearch_length .checkAllDevices {
	margin-left: 22px;
}

#downloadCSV_quickSearch {
	margin-right: 25px;
}
#downloadCSV_quickSearch:focus {
    outline: none;
}

#deviceTable_quickSearch tbody {
	color: #333;
}

#deviceLinePortTable tbody tr:hover td {
    background-color: #dcfac9 !important;
    cursor: pointer;
}