.usersTableColor td{background-color:#fff !important;} 
  table.customDataTable{font-size:11px;}
 table.customDataTable thead {background-color: #5d81ac;}
 .allUsersRegistration thead tr th, 
 .basicUserListTable thead tr th
 {
  	
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color:#fff !important;
}
table.allUsersRegistration thead tr th, table.basicUserListTable thead tr th {
    height: 30px ;
}
.allUsersRegistration thead tr th,table.allUsersRegistration thead td ,.registerUsr thead tr th, .registerUsr thead td, .basicUserListTable thead td{
	border-bottom:1px solid #cccccc !important;
	
   
}
 
table.allUsersRegistration, .registerUsr, table.basicUserListTable {
    border-spacing: 0px 10px !important;
}
 
.allUsersRegistration thead tr th:first-child,.registerUsr tbody tr td, .basicUserListTable thead tr th:first-child{
    border-left: 1px solid #cccccc;
    text-align: center;
}
 
.registerUsr tbody tr td{
	background-color:#eeeeee;border-right: 1px solid #cccccc;border-top: 1px solid #cccccc !important;border-bottom: 1px solid #cccccc !important;
}
table#allUsersRegistration tbody tr td, table#basicUserListTable tbody tr td{
	background-color:#eeeeee;border-top: 1px solid #cccccc !important;border-bottom: 1px solid #cccccc !important;
}
table#allUsersRegistration tbody tr td:first-child,.registerUsr tbody tr td, table#basicUserListTable tbody tr td:first-child {
    border-left: 1px solid #cccccc;
    text-align: center;
    padding: 2px 10px 0px 8px !important;
}
.dataTables_scrollHead, .DTFC_LeftHeadWrapper{}

 .registerUsr td:first-child {
            border-left: 1px solid #cccccc !important;
        }
/*hunt group */
.phoneNumberMargin{
	padding-left:10px;
}
/*forgot Password */
text{font-size:12px !important; color:#fff;}
.resetPassDiv{
	text-align: center;
    /*color: #009688;*/
    font-size:16px;
}

/*callPicgroup   */
.mainPageButton a {
    background-color: #5d9aac !important;
    padding: 12px 72px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    text-decoration:none;
     
}

.mainPageButton a:hover{
	/* background: #FFB200 !important; */
	background:#5d9aac !important;
  cursor: pointer;
  border-radius: 4px;
}

/* #newGroup{margin-left:40px; !important} */
.callPicContinueBtn{ background-color:#72ac5d !important;}
.callPicCancelBtn{  background-color: #5d9aac !important;
    width: 226px !important;
    height: 40px !important;
    border: none !important;
    border-radius: 4px !important;
    font-weight: normal !important;
    color: #ffffff !important;
    margin-left: 70px !important;}

/*#backButton{
	background-color: #5d9aac !important;
    width: 226px !important;
    height: 40px !important;
    border:none !important;
    border-radius: 4px !important;
    font-weight: normal !important;
    color: #ffffff !important;
    margin-left: 40px !important;
} */
 /*Announcement*/
.labelTextAnn {
    text-align: center !important;
    margin-left: -25px !important;
    font-size: 10px !important;
}
 .form-groups {margin-bottom: 25px;text-align:center !important;}
 
 
 .completeButtonAnn{border: 2px solid red !important}
 .dialogClass{text-align:center !important;}
 .dialogClass ul li{text-align:center; font-size: 12px;font-family: Open Sans; color: #9c9c9c; font-weight: bold;}
 .addAnnounceBtnIcon{margin-top: 17px !important;cursor: pointer;}
 .annDownload {
    xwidth: 29px;
    margin-bottom: 28px;
    height: 39px;}
  select#selectAnnouncement{width: 100% !important;}
  #announcementList{width: 830px;}
  .announcementView{width: 835px; margin: 0 auto;} 

  .addAnnouncement{
background-color: #5d9aac;
color: #fff;
border-radius: 4px;
border:none;
padding: 6px 9px;
min-width: 100%;
min-height:30px !important;
cursor:pointer;
}
.ui-dialog-buttonset > .ui-button .ui-widget .ui-state-default .ui-corner-all ui-button-text-only
.annMsgNoChanges, .annDilogCenter{text-align:center}
.ui-dialog .ui-dialog-buttonpane button {
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    margin: 5px;
	margin-right: 20px;
    margin-left: 20px;
}
.ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-text-only{background-color: #ac5f5d !important;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;}
/*session */
#countdown_message{text-align:center;}
#timeout_message{text-align:center;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .sessionKeepMe {
	  background-color: #72ac5d !important;
	  text-align:center;
} 

/* .ui-dialog .ui-dialog-buttonpane button:hover{background-color:yellow} */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .sessionOk{
	  background-color: #72ac5d !important;
	  text-align:center;
}
/*help */ 
.helpVedio{ background-color: #5d9aac !important;}
.helpbuttonSetClass{background-color: #5d9aac !important;
    width: 226px !important;
    height: 40px !important;
    border: none !important;
    border-radius: 4px !important;
    font-weight: normal !important;
    color: #ffffff !important;}
#dialogHtmlContent{font-family: Open Sans; 
	color: #9c9c9c; 
	font-weight: bold;
	text-align:center;}
	
/*add user*/
.labelTextGreyHeadingRc{
	text-align:center;
	font-family: Open Sans; 
	color: #9c9c9c; 
	font-weight: bold;
	}
    #result, #dp, #auth, #addServ, #confVM, #buildVM, #modDev, #addcallpick, #assignServices, #buildUser, #buildDev {
        text-align: left;
        font-family: Open Sans;
        color: #9c9c9c;
        font-weight: bold;
        width: 850px;
        margin: 0 auto;
    }

/*Devices */

#sortable1, #sortable2 {
    padding: 0px 1px;
}

/* VDM-Lite */

/*.vdmForm{
	width:860px;
	margin: 0 auto;
}*/

table.tablesorter thead tr th {
   /* font-size: 13px;
    padding: 12px;
    font-family: Open Sans; */
}

#advancedOption{margin-top:40px;}
/*.AlgoAdvancedOption {
    border: 2px solid rgb(110, 160, 220) !important;
    background-color:#fff ! important;
}*/
.marginTop{margin-top: 40px;}


/* table.tablesorter tbody td select {
    background-color: #fff !important;
    border: none !important;} */
    
.inputColorBlack{background:#000 !important; color:#fff !important;}
.nightModeAdvOpt{background-color: #233B57 !important}

.algoOptButton{
background-color: #3A587E !important; 
}

/*#AlgoAdvancedOption {
    border: 2px solid rgb(110, 160, 220) !important;
    border-radius: 4px;
    padding: 5px !important;
    margin-top: -46px !important;
}*/

.showHideOpt{backgroud-color: #68B5CE !important ;}

.vdmFormtest{background-color:#fff !important;border: none !important;}
.vdmChkRight{float: right;margin-right: 15px;}


.audioCodeTdInput{  
	background-color:#fff !important;
	font-size: 12px !important;
    padding: 7px 10px !important;
    font-family: Open Sans;
    height: 30px !important;
    color: #555555;}
    
 
  /*Change log pagination */
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  border: none !important; 
  background-color: #53a2db !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFB200), color-stop(100%, #FFB200)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* IE10+ */
  background: -o-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #FFB200 0%, #FFB200 100%) !important;
  /* W3C */
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
   border: 1px solid #FFB200 !important; 
  background-color: #FFB200 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFB200), color-stop(100%, none)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* IE10+ */
  background: -o-linear-gradient(top, #FFB200 0%, #FFB200 100%) !important;
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #FFB200 0%, #FFB200 100%) !important;
  /* W3C */
}


.miniBanner {
	font-size: 12px !important;
	/* margin-top:10px !important ; */
	font-style: italic;
    color: #679dff !important;
    padding: 30px 0 !important;
}

/* Anshu 01 Feb 2018 Css added  Regarding change hover images */

/* Add User Hover Image */
.mhover #changImg
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    /* background-image: url('/Express/images/icons/digital_voip_rollover.png'); */
   	background-image: url('/Express/images/icons/digital_voip.png');  
    background-repeat: no-repeat; 
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
}

.mhover #changImg:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/icons/digital_voip_rollover.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}

.mhoverSpList #changImgSpList
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    /* background-image: url('/Express/images/icons/digital_voip_rollover.png'); */
   	/*background-image: url('/Express/images/icons/service-pack-list-rest.png');  */
   	background-image: url('/Express/images/icons/service-pack-list-orange.png');
   	
    background-repeat: no-repeat; 
    font-size: 12px;
    font-family: Open Sans; 
    color: #ffb200; 
    font-weight: bold;
    cursor:pointer;
}
.mhoverSpUsage #changImgSpUsage
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    /* background-image: url('/Express/images/icons/digital_voip_rollover.png'); */
   	background-image: url('/Express/images/icons/usage-rest.png');  
    background-repeat: no-repeat; 
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
    cursor:pointer;
}

.mhoverSpList #changImgSpList:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/icons/service-pack-list-orange.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}

.mhoverSpUsage #changImgSpUsage:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/icons/usage-orange.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}

.mhover #viewUserTable:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/user_list_rollover.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}
.mhover1 #viewBasicListTable:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/basic_list_over.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
    
}

.mhover2 #changImg2
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Express/images/icons/analog.png');   
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
}
.mhover2 #viewUserRegistrationTable
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Express/images/NewIcon/registration_details_rest.png');   
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
}
.mhover2 #changImg2:hover
{   
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/icons/analog_rollover.png') ! important;   
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}
 .mhover2 #viewUserRegistrationTable:hover
{   
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/registration_details_rollover.png') ! important;   
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}

.mhover3 #changImg3
{
    margin-top: 40px;
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Express/images/NewIcon/no_device_rollover.png'); 
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: Open Sans;
    color: #ffb200;
    font-weight: bold;
    background-size: 137px;
    cursor: pointer;
}

.mhover3 #changImg3:hover
{   
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/no_device_rollover.png') ! important;   
    background-repeat: no-repeat;
    color: #ffb200 ! important;
    background-size: 137px;
}
 
 /* User Not Add*/
 .userNotAddalign{
     text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 #usrServices, #srvPack,.fullWidthHundred{
	width:100% !important; 
 }
 .mhover #viewUserTable {
 
  	width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/user_list_rest.png');
    background-repeat: no-repeat;
    color: #6ea0dc;
    text-align: center; 
    font-weight: bold;
  
}

.mhover1 #viewBasicListTable {
 
  	width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/basic_list_over.png');
    background-repeat: no-repeat;
    color: #ffb200;
    text-align: center; 
    font-weight: bold;
  
}
 /*only for user filter */
.userFilterAlignTo{padding:5px 15px;}
.userFilterColSeven{width:58.33333333% !important;}
.userFilterColSix{width:50.33333333% !important;}
.userFilterColFive{width:41.66666667% !important;}
.userFilterColFour{width:33.33333333% !important;}
.userFilterColThree{width:24.66666667% !important;}
.userFilterColTwo{width:16.66666667% !important;}
.userFilterColOne{width:8.33333333% !important;}
.userFilterSelectType{margin-left: 30px !important;}
.userFilterText{margin-top: 20px;}
.panel-default > .panel-heading {
     background-color: #5d81ac !important;
     color:#fff !important ;
     text-decoration: none !important;
}

.panel-default > .panel-heading:not(.infoTitleBar):hover{
     background-color:#ffb200 !important;
     text-decoration: none !important;
}
.panel-title a:hover {
    color: #fff !important;
    text-decoration: none !important;
}
.panel-title a:focus,.panel-title a:active {
    text-decoration: none !important;
}
.panel.panel-forms .panel-heading .accordion-toggle::after{color:#fff !important ;}
.accordion-toggle-full-width {
    display: inline-block;
    width: 100%;
}


/* Change Log*/
#example thead tr th{
	/*background-position:85% 50% !important*/
}

.changeLogDilogTableWidth{
	/* width: 33.3333% !important; */
        width: 250px !important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
   /* border-bottom:none !important; */
}
#example thead tr .thsmall{
	width: 25% !important;
}

/*devices */

.delDownIconDiv{width:100% ; margin:0 auto;height: 92px;}
.CDRSCsvFileDownloadAlign{float: right; display: block;padding-right: 11px;}
.csvFileDownloadAlign{float: right; display: block;padding-right: 0px;}
.ceterText{text-align:center !important;}

/*group call Pickup 20-02-2018 */
.addcpgButtonTextAlign{padding-right: 0;text-align: center; margin-top: 22px;cursor: pointer;}
.cpgColmd2Width{width: 13.666667% !important;}
.groupCallAddButtonCretria{width:695px; float: left;}
.addcpgButtonTextAlign > span{font-size: 10px;font-family: Open Sans; color: #6ea0dc !important; line-height: 12px;}
#backButton > span{cursor: pointer;}
#deleteGroupCallPickupInstance > span{cursor: pointer;}

.removeButtonWidth{width:100px !important}

/*sitManagement */
.sitReportInputField{height: 42px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 54px;
}
.sasValidationText{text-align:center !important; margin-bottom:35px;}

/*config page */

.marginRight25{margin-right: 25px;}
#sysAdminForm{width: 835px; margin: 0 auto;}
#ldap-users-list p {
    text-align: center;
}

.opacityDisabled {
 	opacity: 0.5;
}

.adminAutoClass li a.aClassSuper {
    color: #aa1111 !important;
}

#groupServiceTable.tablesorter thead tr .header,#servicePackTable.tablesorter thead tr .header, #userServiceTable.tablesorter thead tr .header,#groupServiceTable .tablesorter thead tr th, #enterpriseGroupServiceTable .tablesorter thead tr th, #enterpriseUserServiceTable .tablesorter thead tr th {
    height: auto !important;
    padding:none ;
 }

#groupServiceTable.tablesorter tbody td,#servicePackTable.tablesorter tbody td,#userServiceTable.tablesorter tbody td, #enterpriseGroupServiceTable.tablesorter tbody td, #enterpriseUserServiceTable.tablesorter tbody td, #servicePackGetServiceUsageTable.tablesorter tbody td
{padding: 5px 0px 0px 12px !important;}

#groupServiceTable.tablesorter tbody td:last-child ,#servicePackTable.tablesorter tbody td:last-child ,#userServiceTable.tablesorter tbody td:last-child {padding: 5px 2px 0px 9px !important;border: none !important;}
 
 /*sytem admin */
.sytemAdminForm {position: relative;
    margin-left: -8px;}
  /* group modify changes 29-5-2018 */
  .voicPortalExtErrMsgLabel{
  height :5px !important ;
  }
  
  table#deviceTable tbody tr {
     margin-top: 0px !important;  
}
a.paginate_button {
    background-color: #5d81ac !important;
    color: #fff !important;
}

/* change log */
table#example.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}
#example_info {

    color: #666 !important;
}
table.tableHeadHeight thead tr th {

    height: auto !important;
    border-bottom: none;
	font-size: 10px;
}
 #selectCheckDiv #selectAllChk +label span {
       margin-left: 20px !important;
    }
#deviceTable.tablesorter .thSno{
    background-image: none !important;
      
}
#deviceTable tbody tr td:first-child label {
   margin-left: 10px;
}
 
 /*set default width table collomn*/
#deviceTable.tablesorter thead tr .thsmall , #deviceTable.tablesorter tbody tr .thsmall {
    background-image: none;
    width: 150px !important;
}
 
 /*end */
#example_length select,example_filter input[type="search"]  {
	 display: block;
}
 
.dataTables_wrapper .dataTables_filter input{
	margin-left: 0px !important;
}
#example_filter input[type="search"] {
    display: block !important;
 }
/*.dropdown-wrap{position: relative;width: 435px;} */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
 color: #fff !important;
}
.dataTables_length .dropdown-wrap:before {
top: 21px;
}
#deviceTable.tablesorter thead th:first-child, #deviceTable.tablesorter tbody td:first-child {
    background-image: none !important;
    width: 50px !important;
}

/*#servicePacksTable.tablesorter thead th:first-child, #servicePacksTable.tablesorter tbody td:first-child,
#servicePacksTable.tablesorter thead th:nth-child(2), #servicePacksTable.tablesorter tbody td:nth-child(2) {
    background-image: none !important;
    width: 50px !important;
}*/

.addBlueCircle{
    border: 1px solid #5d9aac;
    border-radius: 20px;
    width: 30px;
    
    height: 30px;
    margin-bottom: 5px;
	background-color: transparent;
}

.addRedCircle{
    border: 1px solid #ac5f5e;
    border-radius: 20px;
    width: 30px;
    padding: 0;
    height: 30px;
	background-color: transparent;
}

.newAddcpgButtonTextAlign{
    margin-left: 15px;
    background-color: #72ac5d !important;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    height: 30px;
    border-radius: 4px;
    padding: 5px;    
    clear: both;
    opacity:0.75;
}

.newAddcpgButtonTextAlign:hover {
    background-color: #72ac5d !important;
    opacity:1;
    cursor:pointer;
}
.noMarzin{
	margin: 0;
}

.addDNButtonColor{
	background-color: #72ac5d !important;
	opacity: 0.75;
}
.removeDNButtonColor{
	background-color: #ac5f5d !important;
	opacity: 0.75;
}
.closeDNButton{float: left;display: block;opacity: 0.75;}
.scheduleTypeAlign{padding-left: 31px;}

.alignChkBox input[type="radio"] + label span,.alignChkBox input[type="radio"]:checked + label span {
    margin-left: -5px;
}

.alignChkBox input[type=checkbox]:checked + label span,.alignChkBox input[type=checkbox] + label span{
    margin-left: -2px !important;
}
 
.alignChkBox input[type="radio"] ~ label.labelText,.alignChkBox input[type="radio"]:checked ~ label.labelText{
    vertical-align: middle;
} 

.alignChkBox input[type=checkbox]:checked ~ label.labelText,.alignChkBox input[type=checkbox] ~ label.labelText,.alignChkBox input[type=checkbox] ~ label.textDisable {
    padding-left: 10px;
}
 
/*ocp feature alignment */
#ocp_1{padding:0 !important ;}
.smIconImg img{width:15px !important;}

/* n/w class of services */
#networkServices_1{
	padding:0px !important;
}

.mhover1{
	cursor: pointer;
}
div#networkServices_1 .dnranges {
    height: auto !important;
}


/* ex-855 Express Sheet col width */

table#usersTableOutput tbody tr td input[type="text"],table#usersTableOutput tbody tr td input[type="email"],table#usersTableOutput tbody tr td input[type="password"], table#usersTableOutput tbody tr td input[type="tel"],table#usersTableOutput tbody tr td input[type="search"], table#usersTableOutput tbody tr td input[type="number"], table#usersTableOutput tbody tr td select {
     width: 150px !important;
}
table#devicesTableOutput tbody tr td input[type="text"],table#devicesTableOutput tbody tr td input[type="email"],table#devicesTableOutput tbody tr td input[type="password"], table#devicesTableOutput tbody tr td input[type="tel"],table#devicesTableOutput tbody tr td input[type="search"], table#devicesTableOutput tbody tr td input[type="number"], table#devicesTableOutput tbody tr td select {
     width: 150px !important;
}  
.expressSrollTable {
    max-width: 99%;
    
}

table#usersTableOutput>thead>tr>th {
    vertical-align: top !important ;
    font-family: inherit !important;

  }  

/* device config cutom tag css*/

table#deviceConfigCustomTable thead tr th:first-child{padding-left: 15px !important;cursor: wait;
    pointer-events: none;}
  table#deviceConfigCustomTable body tr td:first-child { 
    font-weight: 600;
    } 
table#deviceConfigCustomTable thead tr th{font-weight:600; border:0px !important;padding: 0px 0px 3px 0px !important;
 cursor:pointer ;
}

table#deviceConfigCustomTable thead tr{border: 1px solid #eeee !important;}
   #customUpdate{
    border: 4px solid white;
    box-shadow: 0px 0px 4px 1px;
    margin-bottom:20px !important;
    cursor:pointer ;
    line-height: 1.42857143;
    color: #333;
    background-color: #eeeeee !important;
    }  
   .thSno {
    width: 30px;
        padding: 7px 1px 4px 10px !important;
   /* padding: 4px 1px 4px 11px !important;*/
    ;word-break: break-all !important; 
    }
    
  .spacer{margin-bottom:10px !important;}  
   .thSnoImageTh {
    width:40% !important;
    text-align: right;word-break: break-all;}  
   .buttonBoxAlignment{margin-top: 25px; margin-bottom: 25px;}
    
   /* .customTagListData{
    overflow-x: auto;
    height: 200px;
    margin-right: 10px;} */
    
 table#deviceConfigCustomTable tbody tr#customUpdate:hover {
    background-color: #dcfac9 !important;
    cursor: pointer;
    border:2px solid #5d81ac;
 }  
.updateTagNameAlign{    
    display: block;
    text-align: center;
    margin-top: 25px;
    font-size: 24px;
    }
    .ui-dialog-titlebar-close{display:none;}

/* end device config custom tag css */


/* add announcement css */

#announceAddModal{height: auto !important;
    overflow: hidden !important;}

.AnnSelectAll {
	    margin-top: 60px;
    margin-left: -5px;
}

#deviceConfigCustomTable{
        width: 96%; 
        margin-left:2%;
        margin-top:70px;
    }
    
    #customTagTable{
     /*  border-bottom: 0px !important; */
       max-height: 325px !important;
       overflow: auto !important;
    }

.userFilterResetButtonAlign{
	float: right; margin-right:35px; width: 20% !important;
	}
.userFilterAddBtnAlign{
	
	background-color: #72ac5d !important;width: 20%;
}

.glyphicon-chevron-right {
    float: right;
}
.confirmDeleteButtonCenterAlignment{
	margin-left: 25px;
}

#simRingCriteriaList tbody td:first-child, #softPhoneTable tbody td:first-child, #servicePacksTable tbody td:first-child{
    flex: 0 auto !important;
    width: 55px !important;
    padding-top: 12px !important;
    text-align: left !important;
}

#simRingCriteriaList thead th:first-child , #softPhoneTable thead th:first-child{
    background-image: none !important;
   width: 57px !important;
    flex: 0 auto !important;
    padding: 17px 12px !important;
    text-align: left !important;
}

#servicePacksTable thead th:first-child,
#servicePacksTable thead th:nth-child(2){
    background-image: none !important;
    flex: 0 auto !important;
    padding: 17px 12px !important;
    text-align: left !important;
}

#simRingCriteriaList thead th:first-child{
    padding: 10px 12px !important;
}

#simRingCriteriaList tbody td:first-child{
    padding-top: 8px !important;
}

tbody#simRingFirstTableBody {
    overflow: hidden;
}

tbody#simRingFirstTableBody tr td:nth-child(2) {
    border-right: 0px solid #fff;
    text-align: center;
}

/*tbody.newUItableAlign tr td:nth-child(2) {
    border-right: 0px solid #5d81ac; 
}*/
#simRingFirstTableBody tr td input:nth-child(1)  {
   width: 220px !important;
   margin-left: 12px;
}

#simRingFirstTableBody tr td:nth-child(1)  {
      width: 105px !important;
}

.newUItableAlign thead tr th:nth-child(2) {
    border-right: 0px solid #5d81ac;
}

.newUItableAlign thead tr:after {
    content: inherit !important;
}
 
 table.tableAlignMentDesign.scroll.tablesorter.tagTableHeight.newUItableAlign:after {
    content: inherit !important;
}

#criteriaListTable,#customTagTable {max-height: 365px !important;} 

  #criteriaListTable tr td{font-size: inherit !important;}   
 
 #criteriaListTable tr:hover,#customTagTable tr:hover{
    background-color: #dcfac9 !important;
    cursor: pointer;
    /* border: 2px solid #5d81ac; */
}  
 
/*
.tr-hover
{  
 background-color: #dcfac9 !important;
    cursor: pointer;
    border: 2px solid #5d81ac;
}

.addTdHover{
	background-color: #dcfac9 !important;
}*/

#sim_ring_criteria_add_form, #sim_ring_criteria_edit_form ,#sim_ring_criteria_delete_form, #newCFSCriteriaForm_Basic,#newCFSCriteriaForm_Basic{width: 800px;padding: 0;margin: 0 auto;}

table#simRingCriteriaList tbody tr td,table#softPhoneTable tbody tr td, table#servicePacksTable tbody tr td{
	    background-color: inherit !important;
}


table#softPhoneTable thead tr th:last-child,table#softPhoneTable tbody tr td:last-child, table#servicePacksTable tbody tr td:last-child{
    border-right: none !important;
}
	
/*#softPhoneTable thead th:first-child, #servicePacksTable thead th:first-child{
	padding: 10px !important;
}*/

table#softPhoneTable, table#servicePacksTable {
    max-height: 325px !important;
    overflow: auto !important;
    
}

#servicePackDialogForm{
	width:850px;
	margin:0 auto;
}

#servicePacksAdd{
	cursor:pointer;
	margin-top: 10px;
	text-align:center;
}

#serviceUsageTables table:nth-child(1){
	/*width:48%;
	float:left;
	margin-right:2%;*/
	border: 1px solid #ccc;
}

#serviceUsageTables table:nth-child(2){
	
	border: 1px solid #ccc;
}
#serviceUsageTables table thead{
	
}
#serviceUsageTables table thead tr {
    background-color: #eee;
    border:none;
}
#serviceUsageTables table thead tr th {
    background-image: none !important;
    background: transparent;
    color: #333;
    font-weight: bold;
    border: none;
    height:auto;
    padding:10px !important; 
    cursor:default;
}

table#servicePackModifyTable thead tr th{
	padding:15px !important;
}
#serviceUsageTables table tbody tr td {
	border: none;
	padding: 10px;
	background-color: transparent;
}
#serviceUsageTables table tbody{
	overflow-y: auto;
    border: none;
}
#serviceUsageTables table tbody tr{
	background: #f9f9f9 !important;
	border: none;
}
.tableServiceName{
	border:none !important;
}
.tableServiceName thead tr{
	background-color:transparent !important;
}

.tableServiceName thead tr th {
    color: #6ea0dc !important;
    font-weight: bold;
}

#spDescription{
	width:100%;
}
.selectSPClass{
	width:100% !important;
}

#servicePackModDialogForm {
    width: 850px;
    margin: 0 auto;
}

#servicePacksTable thead tr{
	margin:0;
}

#servicePacksTable tbody tr:first-child{
	margin-top:5px;
}

#servicePacksTable tbody tr:last-child{
	margin:0;
}

.servicePackTableDiv{
	border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left:none;
}
#servicePacksTableDiv tbody{
	border:none;
}

#serviceUsageTables .dataTable tbody tr:last-child{
	margin:0;
}

#servicePacksTable tbody tr{
	background-color:#eef0f3;
}

/*#servicePackModifyTable thead tr:after{
	display:none;
}*/

#servicePacksTable tbody td:nth-child(2){
	padding-top:12px !important;
}

.changeSPTextColor{
	color:white;
    
}

#servicePacks_1 select:focus {
    outline: none;
}

.userServiceBts button:focus {
    outline: none !important;
}

.servDivAlign {
    margin-left: 10px;
}



#example thead tr .thsmall {
    width: 1% !important;
}


#downloadCDRCSVDiv {
	float: right;
    margin-bottom: 8px;
    padding-right: 15px;
    text-align: center;
    margin-top: 22px;
}

/*headerLog fix position */
.headerLogoPos img {
    max-width: 178px;
    max-height: 54px;
    position: fixed !important;
}

.headerLogoPos {
  height: auto;
  width: 100%;
  max-width: 100%;
}

#summaryEnt tbody tr:hover td {
	background-color: #dcfac9 !important;
	cursor: pointer;
}

#summary2Ent tbody tr:hover td, #summary2Ent tbody tr:hover th {
	background-color: #dcfac9 !important;
	cursor: pointer;
}
/*end headerLogo Position */

#summary2Ent tr {
	padding:0px;
	border:none;
	margin-bottom:0;
}
#summary2Ent thead{
    color: white;
}
#summary2Ent thead tr {
    margin-bottom: 5px;
    background: #5d81ac;
    border: 1px solid #ddd;
}
#summary2Ent tbody {
    border: 1px solid #ccc;
    background: #eef0f3;
}
#summaryEnt tbody{
	max-height: 164px !important;
}
#summary2Ent thead tr th {
    border-bottom: none;
    height: 53px;
    padding: 18px !important;
    font-size: 12px;
    vertical-align: middle;
}
#summaryEnt tbody{
	border:none !important;
}
#summaryEnt {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#summaryEnt tbody tr td{
	border:none !important;
}

.dnBtnMargin {
	margin-top: 15px
}
.callProTextAlign {
    margin-left: 33px;
}
.container {
	background: transparent !important;
}
/* table thead tr th:last-child {
    border-right: 0px;
} */
.cursorPoiter{
	cursor: pointer;
}

/* Code added @ 13 Feb 2019 Regarding Administrator Resesign Module */
.adminUserMhover #changImg1
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Express/images/NewIcon/administrator.png');  
    background-repeat: no-repeat; 
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
}

.adminUserMhover #changImg1:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/superadd_over.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}

.adminUserMhover #changImg2
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Express/images/NewIcon/adminadd_rest.png');  
    background-repeat: no-repeat; 
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
}

.adminUserMhover #changImg2:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/adminadd_over.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}


.adminUserMhover #changImg3
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    text-align: center;
    background-image: url('/Express/images/NewIcon/groupadd_rest.png');  
    background-repeat: no-repeat; 
    font-size: 12px;
    font-family: Open Sans; 
    color: #6ea0dc; 
    font-weight: bold;
}

.adminUserMhover #changImg3:hover 
{
    width: 137px;
    height: 170px;
    padding-top: 150px;
    background-image: url('/Express/images/NewIcon/groupadd_over.png') ! important;
    background-repeat: no-repeat;
    color: #ffb200 ! important; 
}


/* Code start added @ 14 Feb 2019 */
#enterprise_available_user, #enterprise_assign_user {
    max-height: 275px !important;
    overflow-y: auto;
    min-height: 274px !important;
    background-color: #ffffff;
}

#enterprise_available_user li, #enterprise_assign_user li{
  padding: 5px 5px 5px 25px;
  font-size: 12px;
  color: #555555;
  font-family: Open Sans;
  font-weight: bold;
  margin: 0 0 7px -1px;
  /* padding: 5px; */
  width: 100%; 
  border: none;
  background-color: #F4F4F4; 
} 

#enterprise_available_user li:first-child, #enterprise_assign_user li:first-child{ /* margin-top: 25px; */} 
  
#enterprise_available_user > .ui-state-default, #enterprise_assign_user >.ui-state-default {border: none !important;}



#enterprise_available_user .ui-state-highlight:hover,  #enterprise_assign_user .ui-state-highlight:hover{background-color: #ffb200 !important;color: #ffffff !important;cursor: pointer;border: none !important ;}
.ui-state-highlight{border: none;}


#enterprise_available_user .ui-state-default:hover, 
#enterprise_assign_user .ui-state-highlight:hover, 
#enterprise_assign_user .ui-state-default:hover, 
#enterprise_available_user .ui-state-highlight:hover
{background-color: #ffb200 !important;color: #ffffff !important;cursor: pointer;border: none !important ;}
.ui-state-highlight{border: none;}
/* Code end added @ 14 Feb 2019 */


.panel-title a:focus, .panel-title a:active {
    /* text-decoration: none !important; */
    outline: none !important;
}

a#filtersStatusTitle:hover {
    color: #333333 !important;
}




#enterprise_available_user1, #enterprise_assign_user1 {
    max-height: 275px !important;
    overflow-y: auto;
    min-height: 274px !important;
    background-color: #ffffff;
}

#enterprise_available_user1 li, #enterprise_assign_user1 li{
  padding: 5px 5px 5px 25px;
  font-size: 12px;
  color: #555555;
  font-family: Open Sans;
  font-weight: bold;
  margin: 0 0 7px -1px;
  /* padding: 5px; */
  width: 100%; 
  border: none;
  background-color: #F4F4F4; 
} 

#enterprise_available_user1 li:first-child, #enterprise_assign_user1 li:first-child{ /* margin-top: 25px; */} 
  
#enterprise_available_user1 > .ui-state-default, #enterprise_assign_user1 >.ui-state-default {border: none !important;}



#enterprise_available_user1 .ui-state-highlight:hover,  #enterprise_assign_user1 .ui-state-highlight:hover{background-color: #ffb200 !important;color: #ffffff !important;cursor: pointer;border: none !important ;}
.ui-state-highlight{border: none;}


#enterprise_available_user1 .ui-state-default:hover, 
#enterprise_assign_user1 .ui-state-highlight:hover, 
#enterprise_assign_user1 .ui-state-default:hover, 
#enterprise_available_user1 .ui-state-highlight:hover
{background-color: #ffb200 !important;color: #ffffff !important;cursor: pointer;border: none !important ;}
.ui-state-highlight{border: none;}