 /* //comment */
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/Express/fonts/Open-Sans-regular.eot');
  src: url('/Express/fonts/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('/Express/fonts/Open-Sans-regular.woff2') format('woff2'),
       url('/Express/fonts/Open-Sans-regular.woff') format('woff'),
       url('/Express/fonts/Open-Sans-regular.ttf') format('truetype'),
       url('/Express/fonts/Open-Sans-regular.svg#OpenSans') format('svg');
}
/*Sollogics*/
html {
    height: auto !important;
    overflow-x: hidden;
}
body, .initialSetupBody{  background-color: #eef0f3;   font-family: Open Sans !important;font-size: 12px;}
select{
font-size: 12px;
padding: 0 10px !important;
font-family: Open Sans;
height: 30px;
width: 100%;
/*width: 400px !important;*/
border-radius: 4px;
background-color: #eeeeee !important; 
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #555555;
border: 1px solid #002c60 !important;
cursor:pointer;
-webkit-appearance: none;
-moz-appearance: none;}

h2 {
    margin-bottom: 35px !important;
}
.customInputs{width: 100% !important;}
.labelTextGrey{font-size: 12px;font-family: Open Sans; color: #9c9c9c; font-weight: bold;}
.changeTextColor{color:#eee !important;}
.form-group {margin-bottom: 25px;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family: Open Sans;font-size: 12px;}
.float-right{float: right;}
.float-left{float: left !important;}

/*add button for all*/
.CFSNewBtn, .addBtnCustom{
background-color: #5d9aac;
color: #fff;
border-radius: 4px;
border:none;
padding: 6px 9px;
min-width: 226px;
min-height: 40px;
cursor:pointer;}
/*end*/

/* tooltip */
.ui-tooltip-content, .tooltip {
    background-color: #5d9aac !important; 
    color: #FFFFFF !important; 
    border: 1px solid #3a7c90 !important; 
    padding: 5px;
    font-size: 12px;
    font-family: Open Sans !important;
    z-index:999 !important;
}
.tooltip * {background-color: #5d9aac !important; }

.ui-tooltip {
    max-width: 250px;
    width: auto;
    padding: 3px;
    border: none;
    background: transparent;
    box-shadow: none !important;
}

/* Tooltip on top */
..tooltip-arrow {
    border-top: 5px solid green;
}

.tooltip .tooltip-arrow {
border-top: 0px solid red !important;}
/*end*/

/* info icon */
.infoIcon {
    vertical-align: middle;
    width: 15px;
    height: 15px;
    /* margin-left: 7px; */
}

/* upload button */
input[type='file'] {
 /* opacity:0     */
  }

form {width: 100%;}

#addSpeedDial{background-color: #5d9aac;color: #fff;border-radius: 4px;border:none;width: 100px;height: 30px;}

.labelTextZero{margin-left: 0 !important;}
.labelText{font-size: 12px;font-family: Open Sans; color: #6ea0dc; font-weight: bold; margin-left: 10px;}
.colPaddingZero{padding: 0 !important;}
.textAlignCenter{text-align: center;}
input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:35px;
    height:35px;
   /* margin:-2px 10px 0 0;*/
    vertical-align:middle;
    background:url(/Express/images/icons/radial_inactive.png);
    cursor:pointer;

}

input[type="radio"]:checked + label span {
    background:url(/Express/images/icons/radial_active.png);
    cursor:pointer;
}

   input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label span {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("/Express/images/icons/checkbox_unchecked.png") no-repeat;
    height: 22px;
    width: 22px;;
    vertical-align: middle;
    cursor:pointer;
}

input[type=checkbox]:checked + label span {
    background:url("/Express/images/icons/checkbox_checked.png") no-repeat;
    height: 22px;
    width: 22px;
    display:inline-block;
    vertical-align: middle;
    cursor:pointer;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], input[type="number"],select{
font-size: 12px !important;
padding: 7px 10px;
font-family: Open Sans;
height: 30px !important;
/* width: 400px !important; */
width: 400px;
border-radius: 4px;
background-color: #eeeeee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #555555;
border: 1px solid #002c60 !important;
cursor:pointer;}

.ui-autocomplete > li {background-color: #fff !important;}
.ui-autocomplete > li > a:hover, .ui-autocomplete > li > a:focus{
    background: #FFB200 !important;
    border: 1px solid #FFB200 !important;
}

.ui-button:hover:not([disabled]) {
    background: #72ac5d !important;
    cursor: pointer;	
    opacity: 1;
}

input[type="text"]:focus {
    background: #f7f9fc !important;
    box-shadow: none !important;
}
input[type="submit"]:hover:not([disabled]), #subButton:hover:not([disabled]), 
#downloadExcelBtn:hover, #servicePackConfirm:hover {
  background: #72ac5d !important;
  cursor: pointer;
  opacity: 1;
}

.createNewButton:hover:not([disabled]),.closeDNButton:hover:not([disabled]),.moreChangesButton:hover:not([disabled]), .returnToMainButton:hover:not([disabled]), .cancelButton:hover:not([disabled]), .go:hover:not([disabled]), .searchGet:hover:not([disabled]), .closeButton:hover:not([disabled]){
  background: #5d9aac !important;
  cursor: pointer;
  opacity: 1;
}

.addDNButtonColor:hover:not([disabled]),.subButton:hover:not([disabled]){
  background-color: #72ac5d !important;
  cursor: pointer !important;
  opacity: 1;
}

#subButtonEntAdd, #servicePackConfirm, #subButton, #subButtonEnt, .subButton, .completeButton, .createButton, .updateButton, .exportBtn, #downloadExcelBtn, #searchPhoneProfile {
background-color: #72ac5d !important;
color: #FFF;
width: 226px;
height: 40px;
border-radius: 4px;
border:none;
opacity: 0.75;
}

input[type="submit"]:focus {
    /*background: #2e93db !important;*/
    box-shadow: none !important;
}
.alignCenter{text-align: center;}
/*Theming*/
.darkBack{background-color: #313b48 !important;}
.darkBlackModal{
    background: -webkit-linear-gradient(left,#1a222c, #313b48 , #1a222c) !important; 
    background: -o-linear-gradient(left,#1a222c, #313b48 , #1a222c) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#1a222c, #313b48 , #1a222c) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#1a222c, #313b48 , #1a222c) !important; /* Standard syntax (must be last) */
    background-image: linear-gradient(#1a222c, #313b48, #1a222c) !important; /* For IE */
    border-bottom: 1px solid #8fa0b5 !important; 
}

/*Theming End*/

.menuIconActive{text-align: center;}
.mainHeader{  
	/*height: 50px;*/
  position:fixed !important;
  width:100% !important;
  z-index:99;
  top:0%;
  height: 65px;
  background-color: #f0f5fb;
  border-bottom: 1px solid #b9babc;
}
.blueSeparator {float: left;height: 4px;width: 100%;background-color: #054da2;margin-top: -3px;}

.loginUserAndSpan{font-size: 18px;font-family: Open Sans; color: #6ea0dc;}
.groupNameSpan{font-size: 16px;font-family: Open Sans; color: #6ea0dc;float:none;margin-right: 5px;padding-top: 5px;}

.groupNameSpan div{text-transform: uppercase;}
/* #mainBody{margin-top: 43px;width: 100%;text-align:center;} */

#mainBody{margin-top: 0px;width: 100%;text-align:center;}

#changeGroup{font-size: 12px;font-family: Open Sans; color: #9c9c9c;margin-left: 10px;}
.spSpan{font-size: 12px;font-family: Open Sans; margin-right: 10px;}
.groupSpan{float: right;margin-top: 5px;margin-right: 85px;color: #9c9c9c;text-align: right;}
.loggedInUserCol{padding-right: 0;}
.spAddressDiv{text-align: center;}
.leftDesc3{padding: 5px;width: auto;padding-left: 0;}
#addressDropdown{margin: 28px 0 0 0;border: none;}
/*.menuIconActiveImg img{width:75%;} */
.addressBtn{
    background-color: #5d81ac;
    color: #fff !important;
    border: none !important;
    font-size: 12px !important;
    font-family: Open Sans;
    font-weight: bold;
    width: 260px;
    /* width:max-content; */
    padding: 10px 10px 10px 18px;
}
.gEPageImg{width: 30%;float: right;margin-right: 5px;padding: 3px;cursor: pointer;}
.imgToggleDiv{float: right;padding-top: 14px;cursor: pointer;margin-right: 0;}
.imgToggleDivHelp{float: right;padding-top: 14px;cursor: pointer;margin-right: 14px;}
.imgToggleDivResetPass, .homeIconDiv{float: right;padding-top: 14px;cursor: pointer;margin-right: 14px;}
.GhomeIconDiv{float: right;padding-top: 11px;margin-right: 10px;cursor: pointer;}
.logInOffDiv{    float: right;
    padding-top: 14px;
    margin-right: 0;
    cursor: pointer;
    width: 55px;
    height: 66px;
    text-align: center;}
.GhomeIconDiv img{width: 42px !important; height: 42px !important;}
.loggedInUserCol img{width: 35px; height: 35px;}
.changeGroupIcon img{width: 45px;height: 45px;}
.changeGroupIcon{padding-top: 10px !important;margin-right: 14px !important;}
/* .loggedInUserCol > * {padding-top: 15px;} */
.welcomUser{text-align: center;padding: 8px 0;}

.menuicon.dropdown {
    padding: 10px 0;
    width: 50px;
    margin-left: 8px;
	margin-right: 2px;
    float: right;
}
.menuicon img{height: 45px !important;width: 45px !important;}
.dropdownAdd{
    position: relative;
    display: inline-block;
	float: none;
	vertical-align: middle;
}

.activeMenu{background-color: #5d81ac;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}


.leftDesc2{margin-left: 5px;margin-top: 6px;}
.spDyncName{font-size: 12px;font-family: Open Sans; color: #6ea0dc;}
.dayNightToggle{text-align: right;margin: -5px 0 0 0;}
.dayNightToggle img{cursor: pointer;}
.menuicon{}
.loginUserAndLogoutSpan{ padding-right: 0;
    padding-left: 0;
    float: right;
    width: 36%;
}


/*#logout{margin-left: 10px;} */
.marginBottom50{margin-bottom: 50px;}

/*All*/
.required{display: inline;color: #eda500; margin-left:3px; font-size: 16px;line-height: 16px; vertical-align: sub;}
.icons-div > ul{text-align: center;}

span[type=button][data-value="Delete"] {
    background-color: red !important;
}
span[class=ui-button-text][data-value="Cancle"] {
    background-color: red !important;
}
span[class=ui-button-text][data-value="Update"] {
    background-color: red !important;
}


/*login*/

/*second phase start*/
/*.continue_session_Div{width: 400px !important;margin: 0 auto;}
.continue_session_Div{width: 400px !important;margin: 0 auto;}*/
.continue_session_Txt{color: #ffffff;font-size: 100%;}
.loginSubmitDiv{text-align: center;}
.forgotPassDiv{text-align: center;margin-top: 10px;}
.resetPassDiv {text-align: center;margin-top: 0px;margin-bottom:16px;}
.resetPassDiv small{color: #ffffff;}
/*.forgotPassDiv small{color: #ffffff;font-size: 100%;}*/
.forgotPassDiv small {
    color: #ffffff;
    font-size: 100%; 
    text-shadow: 3px 3px 8px #333; 
}
.forgotSubmitDiv {text-align: center;margin-top: 40px;}
.marginTopInput{margin-top: 16px;}
small#password_strength {color: #fff;}
span#password_strength {font-size:85%;}
.whiteClr{color: #fff;text-shadow: 3px 3px 8px #333;}


/*second phase end*/

#bodyForm > img{padding-bottom: 25px;}
#mainBody .login-bg{
  /* background-color: #eeeeee;
  background-color: #ffffff; */
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top:0;
  
  background-image: url("/Express/images/icons/login_bg.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: cover;*/
  background-size: 1920px 1080px;
}

.marginRightButton{
	margin-right:28px !important;
}
.marginRightButton:last-child {margin-right: 0 !important;}

.alignCenterBtn{width: 830px !important;margin: 0 auto !important;margin-bottom: 70px !important;
    margin-top: 45px !important;text-align: center;}
#bodyForm{

    font-family: Open Sans;
    color: #555555;
    position: fixed;
    top: 50%;
    left: 50%;
    float: left;
    height: auto;
    /*max-width: 400px;*/
	width:auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
    transform: translate(-50%, -50%);
 }

#login input[type="text"], #login input[type="password"]{
 font-size: 12px;
 /*padding: 0 15px;*/
 font-family: Open Sans;
 height: 30px;
 width: 400px !important;
 border-radius: 4px;
 background-color: #eeeeee;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 color: #555555;
  border: 1px solid #002c60 !important;
cursor:pointer;}
.inptText{margin-bottom: 16px;}
#login > .inptPass{margin-bottom: 13px;}
/*form#login {text-align: center;}*/
form#passwordReset,form#login, form#chooseGroup, .eMPSU {width: 400px !important;margin: 0 auto;}
#login input[type="submit"], #chooseGroup input[type="button"], #passwordReset input[type="button"]{
background-color: #53a2db;
color: #FFF;
width: 226px;
height: 40px;
/*background-color: #eeeeee;*/
border-radius: 4px;
border:none;
cursor:pointer;
margin-top: 50px;
opacity : 0.75;
}
#login input[type="submit"]:hover, #chooseGroup input[type="button"]:hover, #passwordReset input[type="button"]:hover{
	opacity : 1;
	background-color: #53a2db !important;
	cursor:pointer;
}
input#changePassword {
    font-size: 12px;
}
.copyright {
top:90%;
text-align: center;
color: #ccc;
width: 100%;
padding: 35px;
position: absolute;
 right: 0;
bottom: 0;
left: 0;
}
.copyrightIntSetup{
	text-align: center;
	color: #666666;
	width: 100%;
	padding: 20px;
	padding-top: 0;
}


/*homepage*/

.grpText{text-align:center;font-size:24px;font-family: Open Sans;color: #679dff;font-weight: bold;}
.inventorylst > ul{padding-bottom: 43px;margin-bottom:0;}
.icons-div li {display: inline-block;text-align: center; margin: 0 40px 20px 40px;}
/* .icons-div li:last-child {margin-right: 0;} */
.userAdd-icons-div li{min-width: auto;}
.icons-div li a{font-size: 12px;font-family: Open Sans;text-align:center;}
.usersText{text-align:center;font-size:24px;font-family: Open Sans;color: #4eba85;font-weight: bold;}
.macdText{text-align:center;font-size:24px;font-family: Open Sans;color: #679dff;font-weight: bold;padding-top: 35px;}
.inventoryText{text-align:center;font-size:24px;font-family: Open Sans;color: #b07ceb;font-weight: bold;padding-top: 35px;}
.icons-div li img {padding-bottom: 10px;width: 90% !important;}
#users{color: #6dc79b;}
.userAddText{color: #4eba85 !important;}
.userModText{color: #2bad6e !important;}
#bulk{color: #2bad6e;}
#adminUser, #adminUserEnt, #adminLogs,#groupAdminUser{color:#0ca158;}
#expressSheets{color:#2bad6e;}
#modGrpCallPickup{color:#4184ff;}
#siteManagement{color: #a163e7;}
#modVdm{color: #a163e7;}
/*#modGrpCallPickup{color: #82aeff;}*/
#groupModify,#Enterprises{color: #82aeff;}
#userMod{color: #76a7ff;}
#modHunt{color: #679dff;}
#modAA{color: #5c96ff;}
#modCallCenter{color: #508eff;}
#modSched{color: #4184ff;} 


#deviceMgmt, #siteReport, #entChangeLog{color: #be93ef;}

#findMac, #announcement{color: #b07ceb;}

#findMac, #announcement, #servicePackModule{color: #b07ceb;}

#selectAnnouncement option{color:black;}
#dids, #modDevice,#usersEnterprise{color: #a163e7;}
#changeLog {color: #934ce4;}
#cdrs{color: #a163e7;}
#cdrsEnterprise {color: #a163e7;}
#siteManagement{}
.feature-list li:hover a{color: #ffb200 !important;}
  
/*.feature-list li:hover img{
content: url('/Express/images/icons/digital_voip_rollover.png');
}*/

/*Add User*/
.displayNone{display: none;}
.fullWidthDiv input[type="text"], .fullWidthDiv select{width: 100% !important;}
select#servicePack {
    padding: 0 !important;
}
.nSMsg{text-align: center;margin-bottom: 5px;}
.addUserText, .h2Heading{ text-align:center;font-size:24px;font-family: Open Sans;color: #679dff;font-weight: bold;}
.addUserForm{margin-top: 40px;}
.userRegisterForm{width: 830px;margin: auto;margin-top: 50px;}
/*#extension{width: 124px !important;}*/
.labelTextMargin{margin-left: 0 !important}
.numRecetionstText, .digiVoipText, .analogText{font-size: 12px;font-family: Open Sans; color: #6ea0dc; font-weight: bold;}  

.userRegisterForm input[type="text"], .userRegisterForm input[type="password"], .userRegisterForm select, #newCFSCriteriaForm input[type="text"], #newCFSCriteriaForm_Basic input[type="text"]{
font-size: 12px; 
font-family: Open Sans;
height: 30px;
width: 100% !important;
border-radius: 4px;
background-color: #eeeeee;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #555555;
border: 1px solid #002c60 !important;
cursor:pointer;}


.inptPass{margin-bottom: 40px;}
.confirmSettingsDiv, .alignCenter{text-align: center;}
/* .confSettngMainDiv{padding: 20px 0;} */
/* .mhover:hover #changImg{ content: url('/Express/images/icons/digital_voip_rollover.png');}
.mhover2:hover #changImg2{ content: url('/Express/images/icons/analog_rollover.png');} */
/*.mhover3:hover #changImg3{ content: url('/Express/images/icons/main_number_receptionist_rollover.png');}*/
.mhover:hover .digiVoipText{color: #ffb200;}
.mhover2:hover .analogText{color: #ffb200;}
/*.mhover3:hover .numRecetionstText{color: #ffb200;}*/
.mhover:hover{cursor: pointer;}
.mhover2:hover{cursor: pointer;}
.mhover{text-align: center;}
.mhover2{text-align: center;}
.mhover3{text-align: center;}
img#changImg3 {width: 78% !important;}
.servicePackSelect{min-height: 135px;}
.servicePackSelect option{background-color: #f4f4f4;padding: 5px 12px;margin-bottom: 7px;}
.servicePackSelect option:hover{background-color: #ffb200;color: #ffffff;}
.servicePackSelect option:first-child{margin-top: 25px;}
.servicePackSelect option:last-child{margin-bottom: 25px;}
.voiceMsgRBtn{padding-left: 0 !important;}
.voiceMsgTxt{padding-right: 0 !important;margin-top: 7px;}
.rBtnYes, .rBtnNo{padding-left: 0;}
.rBtnRow{margin-top: 15px;}

select:focus {
    border-color: #ffb200;
}

/*Modal*/
.ui-dialog {
    background: #eeeeee; /* For browsers that do not support gradients */   
    background: -webkit-linear-gradient(left,#cccccc, #eeeeee , #cccccc); 
    /* background: -webkit-linear-gradient(#cccccc, #eeeeee , #cccccc) !important; *//* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#cccccc, #eeeeee , #cccccc) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#cccccc, #eeeeee , #cccccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#cccccc, #eeeeee , #cccccc) !important; /* Standard syntax (must be last) */
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    border-bottom: 1px solid #cccccc;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding-top: 43px;
    font-family: Open Sans !important;
}

.ui-widget-content > .ui-widget-content {
    border: none;
    background: transparent;
    color: #9c9c9c;
    text-align: center;
}
.ui-state-default, .ui-widget-content .ui-state-default{border: none !important;}
.ui-state-focus{/*background-color: #ffb200 !important;*/border: none !important}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-hover{background-color: #ffb200 !important;}
.ui-dialog .ui-dialog-buttonpane button{margin: 5px;float: none !important;}

.ui-widget-header{border: none;background: none;}
.divBeforeUl ul{border: 1px solid #9c9c9c !important;width: 830px;margin: 0 auto !important;padding: 5px 4px 3px 4px !important;}
.leftMenu{display: none !important;}
.modalRightDiv{padding-left: 0;padding-right: 8px;}
.modalLeftDiv{padding-right: 0;}
.inputTextDiv input {margin: 10px 0;}
.chkFromAny{margin-left: 35px;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float: none;text-align: center;}
.ui-dialog-buttonpane{
    margin-bottom: 70px !important;
    margin-top: 50px !important;
    width: 830px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
}
.ui-dialog, #chooseGroupDialogModal .modal-content {
    background: #eeeeee; /* For browsers that do not support gradients */   
    background: -webkit-linear-gradient(left,#cccccc, #eeeeee , #cccccc); 
    /* background: -webkit-linear-gradient(#cccccc, #eeeeee , #cccccc) !important; *//* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#cccccc, #eeeeee , #cccccc) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#cccccc, #eeeeee , #cccccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#cccccc, #eeeeee , #cccccc) !important; /* Standard syntax (must be last) */
    width: 100% !important;
    font-family: Open Sans !important;
}

 #chooseGroupDialogModal .modal-header{
	border: None !important;
	padding-top: 0;
	padding-bottom: 0;
	}
 #chooseGroupDialogModal .modal-content {
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	opacity: 0.9;
	border-radius: 0;
	}
 #chooseGroupDialogModal {
	/*background-color: rgba(255,255,255,0.9);*/
	padding-right:0 !important;
	}
 #chooseGroupDialogModal .modal-body{
	padding-top: 0;
	padding-bottom: 0;
	}
 #cGModalBtn:hover{opacity: 1;}
 #cGModalBtn{
    float: right;
    font-size: 28px;
    color: #002c60;
    opacity: 0.5;}
 #chooseGroupDialogModal .darkBlackModal{
	border-top: 2px solid #8fa0b5 !important;
	border-bottom: 2px solid #8fa0b5 !important;
 }
 .darkBlackModal #cGModalBtn {
    color: #fff !important;
}
#chooseGroupDialogModal .pull-left:hover {
    color: #6ea0dc;
    text-decoration: underline;
}
#chooseGroupDialogModal .modal-backdrop {
    z-index: -1;
}


/* Calender */
.ui-datepicker .ui-datepicker-header {
    margin-top: 50px;
}


/*Users List / Group-wide Users Modify-Page*/

.userListTxt{text-align:center;font-size:24px;font-family: Open Sans;color: #6ea0dc;font-weight: bold;margin-bottom: 35px;}
.userListTxt{
	position: relative;
	clear: both;
}
.selectContainer{/*padding: 0!important;*/
  margin-bottom: 70px;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  min-height:1000px;
  padding-top:3% !important;
  }

.selectCol{font-size:12px;margin-top: 35px;}
/*
.selectBlue{background-color: #5d81ac !important;color: #fff !important;border:none !important;font-size: 12px; font-weight:bold; font-family: Open Sans; height: 40px !important;}
*/

.selectBlue{height: 30px !important;}

.deleteUsers > span, .deleteUsers_Basic > span {font-size: 10px;font-family: Open Sans; color: #b24d4d;line-height: 12px;}


#downloadUserServiceCSV > span, #downloadGroupServiceCSV > span, .downloadCSVCustomProfile > span, #downloadCSV1 > span, #downloadCSV_quickSearch > span, #downloadCSV > span, #downloadCSVBtn > span, #downloadDeviceCSV > span,
#downloadCSV_Basic > span, #downloadCDRCSVDiv > span ,#downloadAdministratorCSV > span, #downloadDnsCSV> span
{font-size: 10px;font-family: Open Sans; color: #5d9aac;line-height: 12px;cursor: pointer;}
.downloadExcel > span{font-size: 10px;font-family: Open Sans; color: #72ac5d;line-height: 12px;cursor: pointer;}
#newGroup >img,#addSubButton >img,#downloadCSV1 > img,.downloadExcel > img, #downloadCSV > img, #downloadCSV_quickSearch > img, #downloadCSVBtn > img, .deleteUsers > img, .deleteUsers_Basic > img, #downloadCSV_Basic > img, #csvUrlForSummaryUsageDiv > img {width: 35px;cursor: pointer;}
#downloadAdministratorCSV,#downloadUserServiceCSV, #downloadGroupServiceCSV, .downloadCSVCustomProfile, .deleteUsers, .deleteUsers_Basic, #downloadCSV1,#downloadCSV, #downloadCSV_quickSearch, #downloadCSVBtn, .downloadExcel, #downloadCSV_Basic, #csvUrlForSummaryUsageDiv {padding-right: 0;text-align: center;margin-top: 22px;}
#downloadCSVBtn, #csvUrlForSummaryUsageDiv{float:right;margin-bottom: 8px;}

div#modAdminListTable {
    margin-bottom: 70px;
}
/*#gwModsLabel{margin-left:20px; padding-top: 10px}*/
/*.centerDesc{display: block !important;}*/
.downloadZone{clear:both;height:40px;width:90%;margin:0 auto;text-align:right;padding-top:10px}
.centerDescNew{clear: none !important;
    text-align: inherit !important;
    min-width: inherit !important;
    margin-left: auto !important;
    margin-right: auto;
    height: inherit !important;}



/* #downloadCSV > img:hover{content: url('/Express/images/icons/download_csv_over.png');}
.downloadExcel > img:hover{content: url('/Express/images/icons/download_excel_over.png');}
.deleteUsers > img:hover{content: url('/Express/images/icons/delete_selected_users_icon_over.png');}
*/
.activeLabel{font-size: 14px;font-family: Open Sans; color: #9c9c9c;text-align: center;}
.divCFAforStyle{
  background-color: transparent;
  border:1px solid #cccccc;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: Open Sans;
	-moz-box-shadow:    inset 0 0 7px rgba(0,0,0,0.23);
   -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.23);
   box-shadow:         inset 0 0 7px rgba(0,0,0,0.23);
}
.activeLabelDiv {text-align: center;}
.viewRadioUserDetail{margin-top: 25px;min-height:122px;}
.CFSNewBtn{background-color: #5d9aac;color: #fff !important; border-radius: 4px;border:none;padding: 6px 9px;}
div#cfsCriteriaTable, div#userCustomTagsTable{margin: 15px 0px;}
.table#criteriaTable {margin: 0 !important;}
#criteriaTable th strong{font-size: 14px;  font-family: Open Sans; color: #9c9c9c;font-weight: bold;}
#criteriaTable tbody tr{
font-size: 10px; 
font-family: Open Sans;
color: #333333;
font-weight: bold;
height: 27px;
vertical-align: middle !important;
margin-bottom: 10px;
background-color: #eeeeee;
border: 2px solid #ffffff; 
-moz-box-shadow: 0 0 6px rgba(98,118,143,0.47);
 -webkit-box-shadow: 0 0 6px rgba(98,118,143,0.47);
 box-shadow: 0 0 6px rgba(98,118,143,0.47);
 cursor: pointer;}

#softPhoneTable tbody tr ,#deviceConfigCustomTable tbody tr , #userCustomTagsTable tbody tr{
    font-size: 10px; 
    font-family: Open Sans;
    color: #333333;
    font-weight: bold;
    vertical-align: middle !important;
    /* background-color: #eeeeee; */
    border: 2px solid #ffffff; 
    -moz-box-shadow: 0 0 6px rgba(98,118,143,0.47);
     -webkit-box-shadow: 0 0 6px rgba(98,118,143,0.47);
     box-shadow: 0 0 6px rgba(98,118,143,0.47);
     cursor: pointer;}

#criteriaTable tbody tr label{margin-bottom: 1px !important;}
#softPhoneTable tbody tr label,#deviceConfigCustomTable tbody tr label, #userCustomTagsTable tbody tr label{margin-bottom: 0 !important;}
#criteriaTable tbody tr td img, #userCustomTagsTable tbody tr td img , #deviceConfigCustomTable tbody tr td img{margin: 2px 2px 0 0;vertical-align: top;}

#criteriaTable tbody tr:hover, #userCustomTagsTable tbody tr:hover #deviceConfigCustomTabletbody tr:hover{border: 2px solid #5d81ac; }
#criteriaTable tbody tr:hover img{content: url('/Express/images/icons/eyes_down.png');}
.viewDetailNew{width: inherit !important;border: none !important;} 

#usersTable1_wrapper table thead tr th, #allUsersTableEx_wrapper table thead tr th, #allUsersRegistration table thead tr th, #basicUserListTable table thead tr th
{ 
  background-color: #5d81ac;
  border-right: 1px solid #cccccc;
  color: #fff;
  height: 30px;
  font-size: 10px;
  font-family: Open Sans;}

#adminListTable_wrapper table thead tr th{
    background-color: #5d81ac;
    border-right: 1px solid #cccccc;
    color: #fff;
    height: 25px;
    font-size: 10px;
    padding-top: 15px;
    font-family: Open Sans;
}

table.tablesorter thead tr th{ 
  background-color: #5d81ac;
  border-right: 1px solid #cccccc;
  color: #fff;
  height: 50px;
  font-size: 12px;
  font-family: Open Sans;}
table#usersTable1 thead tr{height:50px;}
table#softPhoneTable tbody tr:hover img,table#deviceConfigCustomTable tbody tr:hover img,#userCustomTagsTable tbody tr :hover img{content: url('/Express/images/icons/eyes_down.png');}
#allUsersRegistration_wrapper .allUsersRegistration thead tr th:first-child , .basicUserListTable thead tr th:first-child{background-position: 50% 50% !important;}
table.tablesorter tbody td {/*min-height: 35px;*/height:auto !important ; font-size: 12px;  font-family: Open Sans; border-right:1px solid #cccccc; background-color: #eef0f3; color:#333333;}
.darkTextTd{color: #333333; border: 1px solid #333333;}
.selectAllSpan{margin-right: 10px;}
.paddingZero{padding-left: 0 !important;}
.tempPadding{padding: 17px 13px;}
.blankTableRow{
border:none !important; 
  -moz-box-shadow:none !important;
   -webkit-box-shadow:none !important;
   box-shadow:none !important;
}
.customLabelText{margin-left: 0 !important;}

/*CDRs Table*/
#usercallDetails thead tr th, #dialogHtmlContent table tbody tr:first-child td {
    padding: 12px 0 !important;
    background-position: 96% 50% !important;
    word-wrap: break-word;
    padding-right: 19px !important;
    padding-left: 12px !important;
    text-align: left;
	background-color: #5d81ac;
    border-right: 1px solid #cccccc;
    color: #fff;
    height: 50px;
    font-size: 12px;
    font-family: Open Sans;
}
#dialogHtmlContent table tbody tr td{
	height: auto !important;
    font-size: 12px;
    font-family: Open Sans;
    border-right: 1px solid #cccccc !important;
    background-color: #eef0f3;
    color: #333333;
	padding: 3px !important;
    border-bottom: 1px solid #ccc !important;
	padding: 3px 11px !important;
	}
#usercallDetails, .delDownIconDivWidth{
	width: 90%;
    margin: 0 auto;
	}
#usercallDetails tbody tr td {
    text-align: center;
}
/*.scroll tbody tr:hover{color: #aa1111;border: 1px solid #aa1111; background-color: #fff;}
.scroll tbody tr:hover td{background-color: #fff; border: none; color:#aa1111;}*/


/*table fix header*/
.autoHeightCDRsEnt{
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.autoHeight{
  height:auto !important;
  overflow: auto !important;
}
.scroll {
  border: 0;
  border-collapse: collapse;
}

.scroll tr {
  padding: 1px;
  display: flex;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}

.scroll td {
  padding: 3px;
  flex: 1 auto;
  width: 1px;
  word-wrap: break;
  word-break:break-all;
}

.scroll thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.scroll thead th {
  flex: 1 auto;
  display: block;
  border: none;
}
.fixedHeight tbody{
  height:350px !important;
}
.scroll tbody {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: auto;
  max-height: 450px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; 
}
.scroll tbody td a{word-break:break-all; width:100%}

/*UserTable FixedCol*/
.usersTableColor td:first-child{
   	border-left: 1px solid #d8dada !important;
   }
table.customDataTable {
    border-spacing: 0px 10px !important;
}
tr.unRegisterUsr td{color: #aa1111; background-color: #fff !important;}
tr.unRegisterUsr td{border-top: 1px solid #aa1111 !important; border-bottom: 1px solid #aa1111 !important;}
.unRegisterUsr td:first-child {border-left: 1px solid #aa1111 !important;}
#usersTable1 tbody tr.unRegisterUsr td:last-child {border-right: 2px solid #aa1111 !important;}
.usersTableColor td{
    border-top: 1px solid #cccccc !important;
  	border-bottom: 1px solid #cccccc !important;
   }
  
    table#usersTable1 {margin-top: -10px;} 
    .DTFC_RightWrapper{display:none;}


.viewDetailRegistration{border: none !important;}
.registerUsr td {
    border-top: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
    background-color: #eee !important;
    border-right: 1px solid #cccccc !important;
	color: #333;
}
table.tablesorter thead tr .sorting,table.tablesorter thead tr .header, table.dataTable thead .sorting {
  background-image: url(/Express/images/icons/arrows_rest.png)!Important;
  background-repeat: no-repeat;
  /*padding: 15px 0;*/
  text-align: center;
  background-position: 96% 50% !important;
 }

table.dataTable.no-footer thead tr .sorting_desc,table.tablesorter thead tr .headerSortUp {
  background-image: url(/Express/images/icons/arrows_active_up.png)  !important;
  background-position: 96% 50% !important;
}
table.dataTable.no-footer thead tr .sorting_asc,table.tablesorter thead tr .headerSortDown {
  background-image: url(/Express/images/icons/arrows_active_down.png)  !important;
  background-position: 96% 50% !important;
}
.criteriaTableTr td:first-child{padding: 2px !important;}

/*CFS Modal*/
#sim_ring_criteria_add_dialog,#newCFSCriteriaForm, #newCFSCriteriaForm_Basic{width: 800px;padding: 0;}
.ui-dialog-title{text-align:center;font-size:24px;font-family: Open Sans;color: #679dff !important; font-weight: bold;margin-bottom: 25px !important;width: 100% !important;}
.inputTextDiv {
    padding: 0 4px;
}
/*Modal Submit button*/
/*.ui-dialog-buttonset button:first-child{background-color: #72ac5d;width: 226px;height: 40px;border-radius: 4px;border:none;font-weight: normal;color: #ffffff;}*/
.ui-dialog-buttonset button:first-child, .ui-dialog-buttonset button:nth-child(2){margin-right: 28px;}
/*Modal Update button*/

/*Modal Delete button*/

/*Modal Cancle button*/
.cancelButton, .moreChangesButton, .returnToMainButton, .closeButton, .go, .searchGet, .navToVDMLightModule, .viewLicense, #searchAdmin{background-color: #5d9aac !important;width: 226px;height: 40px;border-radius: 4px;border:none;font-weight: normal;color: #ffffff;opacity:0.75;}
.returnToMainButton{background-color: #5d9aac !important;width: 226px;height: 40px;border-radius: 4px;border:none;font-weight: normal;color: #ffffff;}
.closeButton{float: right;}
span.ui-button-text {text-align: center;}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {display: none !important;}

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus {
    background: #ffb200 ;
}*/
/* .ui-dialog-buttonset .ui-state-focus{
background: inherit !important;
} */


/*Main Menu*/

.dropbtn {
    cursor: pointer;
	width:inherit;
}
.menuIconActiveAdd{float:right;padding: 0 3px 10px 3px;text-align: center;}

.dropdown {
    position: relative;
    display: inline-block;
	
}

.active {
    color: #ffb200;
}
.usersMenu{background-color: #388760;padding-right: 0;padding-left: 0;width: 316px !important;border-left:2px solid #204178;border-right:2px solid #204178;height: 408px;}
.macdMenu{background-color: #4783da;padding-right: 0;padding-left: 0;width: 316px !important;border-right:2px solid #204178;height: 408px;}
.inventoryMenu{background-color: #9264af;padding-right: 0;padding-left: 0;width: 316px !important;border-right:2px solid #204178;height: 408px;}
groupMenuTitle{border-bottom: 1px solid #10744a;}

.adminMenu{background-color: #388760;padding-right: 0;padding-left: 0;width: 316px !important;border-right:2px solid #204178;height: 408px;}
li.userMenuTitle{border-bottom: 1px solid #10744a;}
li.groupMenuTitle{border-bottom: 1px solid #4783da;}

li.inventoryMenuTitle{border-bottom: 1px solid #733491;}
li.adminMenuTitle{border-bottom: 1px solid #10744a;}
li.userMenuTitle, li.groupMenuTitle, li.inventoryMenuTitle, li.adminMenuTitle {
    height: 80px;
	background-color: rgba(0,0,0,0.2);
}
li.userMenuTitle a, li.groupMenuTitle a, li.inventoryMenuTitle a, li.adminMenuTitle a{
  color: #fff !important;
  border: none !important;
  font-size:20px !important;
  font-family: Open Sans;
  font-weight: bold;
  padding-top: 25px;
}
.usersMenuTitle{background-color: #4783da;}
.macdMenuTitle{background-color: #388760;}
.inventoryMenuTitle{background-color: #9264af;}
.adminMenuTitle{background-color: #4783da;}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 9px 0 0 0;
    right: 0;
    left: auto;
	z-index:100 !important;
	 
}

#blank {padding: 20px 0;}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
	padding-right: 0 !important;
    text-decoration: none;
    display: block;
}
.dropdown-content a.active{background-color:#ffb200;}

.show {display:block;}
.mainMenuBtn{
  background-color: transparent;
  color: #fff !important;
  border: none !important;
  font-size:16px !important;
  font-family: Open Sans;
  font-weight: bold;
  /*width: 316px;*/

}
.navButton:hover, .navButtonSuperUser:hover {
  background-color: #ffb200 !important;
  color: #333  !important;
}

/*Administrators Page*/
#user_cell_phone_numberUpdate{position: absolute;}
.disableUserCheck{float: right;}
.labelTextdisable{font-size: 12px;font-family: Open Sans; color: #9c9c9c; font-weight: bold;}
.adminUserText, .WordSection1 h1{text-align:center;font-size:24px;font-family: Open Sans;color: #6ea0dc;font-weight: bold;}
.WordSection1 h1 a{color: #9c9c9c !important;}
.WordSection1 h1{margin-bottom: 35px;}

#dialogHtmlContent{width:830px; margin: 0 auto;}
#dialogHtmlContent table {
    width: 100%;
    border: 1px solid;
}
.WordSection1 p {
    font-size: 12px !important;
	font-family: Open Sans !important;
	text-align: left !important;
	line-height: normal !important;
	/*color: #9c9c9c !important;*/
}
.darkBlackModal #dialogHtmlContent p {color:#eee;}
#dialogHtmlContent table tbody tr td p{color: #333333 !important;}

.addUserForm{margin-top: 40px;}
.fcorn-registerTwo, #initialSetupForm, .WelcomeForm{width: 830px; margin: 0 auto;}
.adminSelectDiv{padding-right: 12px;}
.adminAddBtnDiv{padding-left: 12px; margin-top: 0;}
.addAdminBtnIcon{margin-top: 18px !important;cursor: pointer;float: right;}

select.selectBlue {width: 100% !important;}
select#selectAdmin option{font-size: 12px !important;}

.labelTextOpp{text-align: center;margin-left: -10px !important;font-size: 10px !important;}
.labelTextOpp span:first-child{float: left;margin-left: 23px;}
.labelTextOpp span{color: #6ea0dc !important}
/*#selectAdmin{padding: 0 0 0 40%;}*/
/*form#userAdmin{width: 860px;}*/
#groupUsers{width: 830px;margin: 0 auto;}
.availNCurrentGroup{font-size: 10px;font-family: Open Sans;font-weight: bold;}
.availNCurrentGroup > .form-group{text-align: center; color: #9c9c9c; margin-bottom: 5px !important;}


.scrollableListCustom1, .scrollableList1{ 
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #002c60;
  margin: 0px 0 15px 0px;
  background-color: #ffffff;
  padding: 1px;
  }
  .scrollableListCustom1Copy{height: 199px !important;}

.scrollableListCustom2, .scrollableList2{ 
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #002c60;
  margin: 0px 1px 15px 1px;
  background-color: #ffffff;
  padding: 1px;
  }

.connectedSortableCustom{
  font-size: 12px;
  color: #555555;
  font-family: Open Sans;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  }

#sortable1, #sortable2, #sortable_1, #sortable_2 {
    max-height: 275px !important;
    overflow-y: auto;
    min-height: 274px !important;
}
#availableUserServiceToAssign, #assignedUserService {
    max-height: 275px !important;
    overflow-y: auto;
    min-height: 274px !important;
    padding:0 !important;
}
#availableUserServiceToAssign option:first-child, #assignedUserService option:first-child{
	/* margin-top:25px; */
}
#availableUserServiceToAssign, #assignedUserService{
    padding:25px 0 0 0 !important;
}
#availableUserServiceToAssign option{
 	margin: 0 0 7px -1px;
    padding: 4px 4px 4px 3px;
    text-align:center;
    width: 100%;
    min-height: 20px;
    background: #F6F6F6;
    color: #555555;
    font-weight:bold;
    
 }
 #assignedUserService option{
 	margin: 0 0 7px -1px;
    padding: 4px 4px 4px 3px;
    text-align:center;
    width: 100%;
    min-height: 20px;
    background: #F6F6F6;
    color: #555555;
    font-weight:bold;
}

#sortable1 li, #sortable_1 li, #sortable2 li, #sortable_2 li{
  padding: 5px 5px 5px 25px;
}

  #sortable1 li, #sortable_1 li, #sortable2 li, #sortable_2 li{
  font-size: 12px;
  color: #555555;
  font-family: Open Sans;
  font-weight: bold;
  margin: 0 0 7px -1px;
  /* padding: 5px; */
  width: 100%; 
  border: none;
 
  }
  #sortable1 li:first-child, #sortable2 li:first-child, #sortable_1 li:first-child, #sortable_2 li:first-child{margin-top: 25px;}
  #sortable1 li, #sortable_2 li{background-color: #F4F4F4; padding-left:25px;}
  #sortable2, #sortable_2{background-color: #ffffff;}
  #sortable1 > .ui-state-default, #sortable2 > .ui-state-default, #sortable_1 > .ui-state-default, #sortable_2 >.ui-state-default {border: none !important;}
#sortable1 .ui-state-default:hover, #sortable2 .ui-state-highlight:hover, #sortable2 .ui-state-default:hover, #sortable1 .ui-state-highlight:hover, #sortable_1 .ui-state-default:hover, #sortable_1 .ui-state-highlight:hover, #sortable_2 .ui-state-default:hover, #sortable_2 .ui-state-highlight:hover{background-color: #ffb200 !important;color: #ffffff !important;cursor: pointer;border: none !important ;}
.ui-state-highlight{border: none;}
.labelTextCheckPrmison{font-size: 12px;font-family: Open Sans; color: #9c9c9c; font-weight: bold;margin-left: 10px;}
.selectBlueCopy{background-color: #5d81ac;color: #fff !important;border:none !important;font-size: 12px; text-align: center; font-weight:bold;font-family: Open Sans; padding: 12px; }
.formGroupOpp{margin-bottom: 0 !important;}
.cAllPerm{margin-bottom: 20px;}
.submitAndView{
    background-color: #5d9aac;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    opacity:0.75;
}

.submitAndView:hover{
    background-color: #5d9aac;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    opacity:1;
}
    
    .deleteBtn, .deleteButton{
    background-color: #ac5f5d !important;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    opacity:0.75;
    }
    .addAnotherButton{
    background-color: #cccccc;
    width: 226px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: normal;
    color: #ffffff;
    }
  
    .paddingZero, .checkallPermissionsCheckbox{padding: 0;}
    .checkAllPermsn{margin-bottom: 20px;}
/* Tool tip on Administrator page */
#userPerRowAdd, #groupPerRowAdd, #servicesPerRowAdd, #devicePerRowAdd, #supervisoryPerRowAdd,
#userPerRow, #groupPerRow, #servicesPerRow, #devicePerRow, #supervisoryPerRow
{
    position: relative;
    display: block;
}

	.panel-forms .tooltiptext {
		visibility: hidden;
		width: 250px;
		background-color: #5d81ac;
		color: white;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
		top: 0%;
		left: 16%;
		margin-left: -127px;
		line-height: 16px;
	}
	#usersTitle:hover .tooltiptextUsers, #usersTitleAdd:hover .tooltiptextUsers {
    visibility: visible;
}

#usersTitleMod:hover .tooltiptextUsers {
    visibility: visible;
}

#servicesTitleMod:hover .tooltiptextServices{
    visibility: visible;
}

#groupTitle:hover .tooltiptextGroups, #groupTitleAdd:hover .tooltiptextGroups {
    visibility: visible;
}

#groupTitleMod:hover .tooltiptextGroups, #groupTitleMod:hover .tooltiptextGroups {
    visibility: visible;
}

#devicesTitleMod:hover .tooltiptextDevices{
    visibility: visible;
}
  
#servicesTitle:hover .tooltiptextServices, #servicesTitleAdd:hover .tooltiptextServices {
    visibility: visible;
}
#devicesTitle:hover .tooltiptextDevices, #devicesTitleAdd:hover .tooltiptextDevices {
    visibility: visible;
}
#supervisoryTitle:hover .tooltiptextSupervisory, #supervisoryTitleAdd:hover .tooltiptextSupervisory {
    visibility: visible;
}

#supervisoryTitleMod:hover .tooltiptextSupervisory  {
    visibility: visible;
}
 

/*New Ent Admin */
         
	#groupEntTitleAdd:hover #groupEntToolTip {
		visibility: visible;
	}
	#InventoryTitleAdd:hover .tooltiptextInventory {
		visibility: visible;
	}
	#AdministratorsTitleAdd:hover .tooltiptextAdministrators {
		visibility: visible;
	}
        
        #entPermTitleAdd:hover .tooltiptextEntPerm ,#entPermTitleMod:hover .tooltiptextEntPerm{
		visibility: visible;
	}
/*End New Ent Admin */

/*add admin modal*/
	#newAdminDialog{overflow:hidden;}
    #createNewAdminForm,#newAdminForm{width: 830px; margin:0 auto;}

/*Choose group page*/
  .groupCallPick,#groupForm{width: 830px; margin: 0 auto;}
    #groupForm{margin-top: 25%;}
    .subBtnDiv{text-align: center;margin-top: 15px;}



/*User Modify*/
  .uiDialogLabel li {
    text-align: center;
    line-height: 1.2;
    font-size: 12px;
    padding: 5px 0;
}
.navToVDMLightModule{float: right; margin: -67px 50px 0 0;padding: 0 10px;width: auto;}
select#groupName {
    width: 100% !important;
}

.widthForLabelCheckbox{
	width:30px;
}
.widthForLabelRadio{
	width:30px;
}
  #userData, #hgData, #ccData, #AAData, #schedData, #eventData, #adminData, #csvData, #cdrResults{
    /* float: left;
    clear: both;
    height: auto;
    width: 100%; */
    margin-top: 0;
  }
  .marginTopSe{margin-top: 6px;}
  #clidgnu, #clidgna{margin-left: 8px;}
  #maxFindMeFollowMeDepth{margin-top: 12px;}
  .tagNameValueText{
    font-size: 16px !important;
    font-family: Open Sans !important;
    color: #9c9c9c !important;
    line-height: 16px !important;
    font-weight: bold !important;
  }
  .speedDials input[type="text"]{width: 100% !important;}
  .sD100{margin: 0px 0 15px 0 !important;}
  form#userMod{width: 830px;  margin: 0 auto;}
  .labelTextMarginNeg{margin: 0 0 0 -5px;}
  
  .subBannerCustom{text-align:center;font-size:24px;font-family: Open Sans;color: #6ea0dc;font-weight: bold;margin-bottom: 35px;}
  .alignBtn{margin-bottom: 22px;margin-top: 22px;text-align: center;}
  #basicInfo_1, #address_1, #speedDial100_1, #speedDial8_1, #phoneDevice_1, #control_1, #policies_1, #sca_1, #blf_1, #passwords_1, #hotel_1, #customTags_1, #voiceManagement_1, #servicePacks_1, #clearMACAddress_1{padding: 0;width: 830px;margin: 0 auto;}
  #tabs > ul{padding: 0 !important;}
  
  /* All Tabs */
  
div#tabs {
    background: transparent !important;
    border: none !important;
  }
.divBeforeUl ul .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0.50 !important;
    /* filter: Alpha(Opacity=35); */
    background-color: grey !important;
}
.divBeforeUl ul li .tabs{width: 200px;text-align: center;padding: 10px 5px !important;}
.divBeforeUl ul li{width: 202px !important;margin: 0 0 2.5px 2.5px !important;}
#tabs h2{margin-top: 35px;}




.sampleCsvDiv > .labelText{
    font-size: 12px !important;
    color: #6ea0dc !important;
}

#servicePacks_1 select, #speedDial100_1 select, .extDiv input{width: 100% !important;}
#servicePack{border:none !important;min-height: 195px !important;}
#servicePack1{border:none !important;min-height: 195px !important;overflow-y:scroll;padding:12px;}
.select100Width{width: 100% !important;}
.speedDials .form-group{margin-bottom: 15px !important;}
.speedDials{max-height: 275px !important;
    zoom: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;}
.addSpeedDialBox{clear:both;height:275px;border:1px solid #002c60;background-color: #eeeeee; zoom:1;padding:15px;}
.viewDetailRegistrationCustom{overflow: hidden;height: auto;}
.customTags_custom select{width: 100%;}
/*user modify add custom tag modal*/
#customTagForm, #searchOption, #createCustomTagForm, #searchEnterprise{width: 830px !important; margin: 0 auto;}
#softPhoneTable tbody tr td,#deviceConfigCustomTable tbody tr td, #userCustomTagsTable tbody tr td{padding-left: 10px;}

li.ui-state-default.ui-corner-top {
    border: 1px solid #cccccc !important;
    padding: 0;
    background-color: #5d81ac;
}
#userCustomTagsTable tbody td{margin: 1px 0 !important;}
#userCustomTagsTable tbody td:last-child{border: none !important;}
.exportBtn:hover, #setup_submit:hover{
	background-color:#ffb200 !important;
}
.userDataClass {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    min-height: 0;
    border: none !important;
}
/* #criteriaTable tbody tr, #userCustomTagsTable tbody tr{border: none !important;} */
#searchOption input[type="text"]{width: 100% !important;height: 30px !important;}
#searchOption input[type="button"]{margin-top: 50px;}


/* Confirm Settings Modal*/
.errorTableRows{padding: 9px 15px !important; background: transparent;border: 1px solid #FFFFFF;}
.errorTableRowsAddUser{padding: 9px 15px !important; background: transparent;border: 1px solid #FFFFFF;}
.dialogClass {
    font-size: 12px;
    line-height: 1.2;
    font-family: Open Sans;
    overflow : hidden !important;
}
table.confSettingTable th {
    padding: 4px 0 12px 0;
	color: #9c9c9c;
}
.confSettingTable tr td{ padding: 3px 10px;}

.legendRGTable td {
    padding: 3px 10px;
}
.legendRGTable{margin: 0 0 0 -10px;}

td.errorTableRows:first-child, th.errorTableRowsAddUser:first-child{
    color: #fff !important;
}

td.errorTableRows:nth-child(2){
	color: #9c9c9c;
}
.legendRGTable td:nth-child(2){
	color: #9c9c9c;
}
/* select box icon */
.dropdown-wrap{position: relative;}
.dropdown-wrap:before, .fcorn-register .country-wrap:before {
    position: absolute;
    content: "#";
    font-family: "entypo";
    font-size: 15px;
    color: #686868;
    top: 5px;
    right: 5px;
    pointer-events: none;
}
.oneColWidth{width: 400px !important;}
/* site managment */
#main_ServiceLicense{width: 830px;margin: 0 auto;background: transparent;border: none;padding-top: 35px;}
.selectInputRadio{text-align: center;}
.sampleCsvDiv{text-align: end;}
.ColWidthUserFilter{padding-left:0;padding-right:0;width:400px !important;}
.panel-heading {padding: 10px 15px !important;} 
#customTagsTable table thead tr th{padding: 5px 10px !important;}
.thsmall {
    width: 150px !important;
    /* height: 23px !important; */
    padding: 15px !important;
    text-align: left !important;
}
.thSno{
	width:30px !important;
	padding: 15px 6px 0 6px !important;
	text-align:left;
}
.thsmallSasTest{
	width: 115px !important;
    padding: 15px !important;
    text-align: left !important;
}
.filtersApplied {
    color: red;
	font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}
.fIcon{
	 /*color:#6ea0dc !important;*/
		margin-right: 10px;
	}
	.expandFilterClass{margin-left: 7px;}
div#filterUsersValuesRow{background: transparent !important;}

/*User Filter*/

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 60px;
	height: 25px;
	padding: 0px;
	margin:0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
  box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
  box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing:content-box;
  width:60px;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
  box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 1px;
	left: 2px;
	width: 22px;
	height: 22px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 37px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label {
    background: #ffb200 !important;
}

.resetAll{
    padding: 5px 15px;
    margin-right: 15px;
	background-color: #5d9aac !important;
	border-radius: 4px;
	border:none;
	font-weight: normal;
	color: #ffffff;
	float:right;
	font-size: 12px;}

#showAllFilterBtn,#showActiveFilterBtn{padding:5px 15px; float:right;min-width: 19% !important;background-color: #5d9aac !important;margin-top: 20px;color: #fff;border: none;border-radius: 4px;}
.resetF {
	margin-top:7px;
    border-radius: 4px;
    padding: 3px 10px !important;
    
    font-weight: normal !important;
	background-color: #ac5f5d !important;
	border: none;
	color: #fff;
	float:right;
}
.filterh1title{float:right;}
.labelTextUFilter{margin-left:0 !important;}
.resetBtnDiv{padding-right: 8px!important;}
.rules_group_tools_container{
	margin-left:0px !important
}

.rules_list, .paddingZero{
	padding:0 !important;
}
#addNewFilterSet{
	padding: 5px 15px;
	margin-right: 15px;
	background-color: #5d9aac !important;
	border-radius: 4px;
	border: none;
	font-weight: normal;
	color: #ffffff;
	float: right;
}

.disableUserFilterBtn{
	background-color: #5d9aac !important;
	width: 226px;
	height: 40px;
	border-radius: 4px;
	border:none;
	font-weight: normal;
	color: #ffffff;
}
#selectAllDiv,#selectAllDiv_Basic{
	width:92%;
	margin:0 auto;
	padding-left:3px;
}
#selectCheckDiv{
	width:103%;
	padding-left:16px;
}
.dropdownGwMods{
	width:64%; margin:0 auto;	
}
.user_filter_set.error {
	background: #ce0d0d;
	width:95%;
	margin-left:20px;
}
.labelButtonMargin{
	margin-left:25px !important;
}
.FilterOptions{
	padding-top:10px;
	
}

#filtersStatusTitle .glyphicon {
	padding-left: 10px;
}
.groupWideModifyMarginBottom{
	margin-bottom: 10px;
}

#criteriaTable input[type=checkbox]:checked + label span{
	    background-size: 20px;
	    background-position: bottom;
}

#criteriaTable input[type=checkbox] + label span{
	background-size: 20px;
	    background-position: bottom;
}

/* button hover effect
input[type=button]:hover:not([disabled]){
	 background-image:none !important;
	 background-color: #FFB200 !important;
}
*/
.removeDNButtonColor:hover:not([disabled]),.deleteBtn:hover:not([disabled]), .deleteButton:hover:not([disabled]){
	background-image: none !important;
    background-color: #ac5f5d !important;
    cursor:pointer;
    opacity:1;
    
}
#example_filter{
	margin-right:70px;
}

#downloadCSV, #downloadCSV_Basic{
	margin-bottom:0px !important;
}

#downloadCSV1{
	margin-bottom:-65px !important;
}

.padding-top-zero{
    padding-top:0% !important;
}

.thsmallN {
    width: 140px !important;
    /* height: 23px !important; */
    padding: 10px !important;
    text-align: left !important;
}
#adminLogsTableAlignId .dataTables_wrapper,#changelogTableId .dataTables_wrapper{
	position: inherit !important;
}

.deleteSmallButton{
	padding: 5px 15px;
    font-size: 12px;
    width: auto;
    height: auto;
}
.thclassR{
	padding: 8px 10px !important;
}

#summary2 tr {
	padding:0px;
	border:none;
	margin-bottom:0;
}
#summary2 thead{
    color: white;
}

.thClassCDR{
	width:50%;
	padding: 3px 8px !important;
	border: none !important;
}
#summary2 thead tr {
    margin-bottom: 5px;
    background: #5d81ac;
    border: 1px solid #ddd;
}
#summary2 tbody {
    border: 1px solid #ccc;
    background: #eef0f3;
}
#summary tbody{
	max-height: 164px !important;
}
#summary2 thead tr th {
    border-bottom: none;
    height: 53px;
    padding: 18px !important;
    font-size: 12px;
    vertical-align: middle;
}
#eventEdit .widthHP{
	width:100% !important;
}
#summary tbody{
	border:none !important;
}
#summary{
	border:1px solid #ccc;
}
.noColumnTable tbody tr td{
	background:transparent !important;
	width:150px !important;
	border:none !important;
	color:#333 !important;
}

.noColumnTable td.errorTableRows:first-child {
    color: #333 !important;
    font-weight:bold;
    width:33% !important;
}
.sytemAdminRmBtn{margin-left: 77px;}
.infoIconCls{margin-top: 10px;}
.infoIconEx{padding-left:15px !important;}
.filterMarginTopAlign,.sendReportSupervisorInpt{margin-top: 25px;}
#useGroupDefaultSetting select{width:100% !important;margin-bottom: 10px;}
.selectClass {
    width: 100% !important;
}
.selectContainer .twoColWidth{
	width:800px;
}
#spDeleteButton{
	height:28px;
}
.deleteButtonContainer{
	margin-top:72px;
}
#availableUserServiceToAssign option:hover, #assignedUserService option:hover{
	background-color:#ffb200 !important;
	color:white;
}
#deviceTypeTableEnterprise thead tr th{
	padding:15px !important;
}
#deviceTypeTableEnterprise tbody tr td{
	padding:15px !important;
	border:none;
}
#deviceTypeTableEnterprise{
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
#deviceTypeTableEnterprise select, #deviceTypeTableEnterprise input{
	width:100% !important;
}
#deviceTypeTable input[disabled] {
    background-color: #e3e3e3 !important;
}
table#deviceTypeTableEnterprise thead tr th{
	height: auto !important;
        text-align:left ;
}

#addUserProgressBarDiv {
	width: 51%;
	margin-left: 24%;
}

#loadingModule {
    text-align: left;
    font-family: Open Sans;
    color: #9c9c9c;
    font-weight: bold;
    width: 850px;
    margin: 0 auto;
}

.changeGroupDiv {
	margin: 0 !important;
	padding: 0 !important;
}

.header_scroll{
    position: absolute;
    top: 66px !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll; 
    padding-top: 33px;
}

#searchEnterprise input[type="text"] {
    width: 100% !important;
    height: 30px !important;
}
.labelMarginLeft{
	margin-left:75px;
}
.cpMarginBottom{
	margin-bottom:15px;
}
.marginuriclass{
	width:240px;
	float:left;
	margin-top:10px;
}

#ncsData_1 .servicesButton{
	height: 250px !important;
    vertical-align: middle;
    display: table-cell;
}
.checkBoxLikeDisable{
    opacity: 0.2;
    cursor: not-allowed !important;
}

.noPointerEvent {
	pointer-events: none;
}
 
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
.subButton:disabled {
    background-color: #72ac5d !important;
}
.passwordLabelClass{
	float:left;
}
.passwordLabelClassText{
	margin: 10px 7px 0px 14px;
    float: left;
}
.passwordLabelClassDD{
	width: 100px;
    float: left;
    margin-top: 5px;
}

#deviceMgtTagBundle .form-group ,#modTagBundleId .form-group{
	margin-bottom:5px;
	padding:3px;
	background-color:#f4f4f4;
}

#deviceMgtTagBundle .form-group:last-child, #modTagBundleId .form-group:last-child {
    margin-bottom: 0;
}

#deviceMgtTagBundle , #modTagBundleId{
	background:transparent;
	padding: 12px;
    overflow-y: scroll;
    border:1px solid #002c60 !important;
    min-height:180px !important;
}
#deviceMgtTagBundle label, #modTagBundleId label{
	margin:0;
	color:#333;
	font-weight:normal;
}
#deviceMgtTagBundle .labelText, #modTagBundleId .labelText{
	margin-left:10px;
}
#servicePack .form-group{
	margin-bottom: 5px;
    padding: 3px;
    background-color: #f4f4f4;
}

#servicePack label{
	margin-bottom:0;
}
#servicePack .labelText{
	margin-left: 10px;
	color: #333;
    font-weight: normal;
}
#servicePack .form-group:last-child {
    margin-bottom: 0;
}

#servicePack1 .form-group{
	margin-bottom: 5px;
    padding: 3px;
    background-color: #f4f4f4;
}

#servicePack1 label{
	margin-bottom:0;
}
#servicePack1 .labelText{
	margin-left: 10px;
	color: #333;
    font-weight: normal;
}
#servicePack1 .form-group:last-child {
    margin-bottom: 0;
}
#generateAccordion3 #servicePack, #generateAccordion3 #servicePack1{
	background:transparent !important;
}
#generateAccordion3 .scrollableListCustom1Copy{
	background:transparent;
}
.addNewLineCancelBtn{
    display: block !important;
    margin : 0 auto !important;
    margin-top: 25px !important;
}

.softPhoneTableDiv tbody tr{
	background-color: #eeeeee;
}
#softPhoneTable .softPhoneTableDiv thead th{
	padding: 17px 12px !important;
}