/* IMPORT RESET */


/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/*	EXAMPLE STYLES */
body {
	font-family: sans-serif;
	color: white;
}

header {
	padding: 15px 0px;
}

article {
	line-height: 20em;
	text-align: center;
	background: #666;
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
}

footer {
	line-height: 15em;
	text-align: center;
	background: #BBB;
}

 
.login-bg {
	background: #f1f1f1;
	width: 100%;
	height: 100%;
	position: absolute !important;
	left: 0;
	top:0;
}


.copyright {
	margin-top: 35px;
	text-align: center;
	color: #000000;
	width: 100%;
	padding: 20px;
	position: absolute;
	bottom:0;
	left: 0;
}

#login input {
	padding: 15px;
	width: 100%;
	background: #FFF;
	border: 1px solid #dbdfe7 !important;
   -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #7c7c81;
box-shadow: none !important;

}

#login input[type="submit"] {
	background: #000000;
	color:#FFF;
	width: 80%;
	font-size: 17px;
}

#login input[type="submit"]:hover {
	background: #A80309;
	cursor: pointer;
}
#login input[type="submit"]:focus {
	background: #990308  !important;
	cursor: pointer;
}

#login input:focus {
	background: #f7f9fc !important;
	box-shadow: none !important;
}



/* Adding Custom Bootstrap CSS as needed - Starts */

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
}
.table th,
.table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #eceeef;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #eceeef;
}
.table tbody + tbody {
	border-top: 2px solid #eceeef;
}
.table .table {
	background-color: #fff;
}
.table-sm th,
.table-sm td {
	padding: 0.3rem;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 5px;
}
.table-bordered {
	border: 1px solid #eceeef;
}
.table-bordered th,
.table-bordered td {
	border: 1px solid #eceeef;
}
.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 2px;
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.075);
}
.table-active,
.table-active > th,
.table-active > td {
	background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
	background-color: rgba(0, 0, 0, 0.075);
}
.table-success,
.table-success > th,
.table-success > td {
	background-color: #dff0d8;
}
.table-hover .table-success:hover {
	background-color: #d0e9c6;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
	background-color: #d0e9c6;
}
.table-info,
.table-info > th,
.table-info > td {
	background-color: #d9edf7;
}
.table-hover .table-info:hover {
	background-color: #c4e3f3;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
	background-color: #c4e3f3;
}
.table-warning,
.table-warning > th,
.table-warning > td {
	background-color: #fcf8e3;
}
.table-hover .table-warning:hover {
	background-color: #faf2cc;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
	background-color: #faf2cc;
}
.table-danger,
.table-danger > th,
.table-danger > td {
	background-color: #f2dede;
}
.table-hover .table-danger:hover {
	background-color: #ebcccc;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
	background-color: #ebcccc;
}
.thead-inverse th {
	color: #fff;
	background-color: #292b2c;
}
.thead-default th {
	color: #464a4c;
	background-color: #eceeef;
}
.table-inverse {
	color: #fff;
	background-color: #292b2c;
}
.table-inverse th,
.table-inverse td,
.table-inverse thead th {
	border-color: #fff;
}
.table-inverse.table-bordered {
	border: 0;
}
.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
	border: 0;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666667%;
}
.col-xs-pull-10 {
	right: 83.33333333%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666667%;
}
.col-xs-pull-7 {
	right: 58.33333333%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666667%;
}
.col-xs-pull-4 {
	right: 33.33333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.66666667%;
}
.col-xs-pull-1 {
	right: 8.33333333%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666667%;
}
.col-xs-push-10 {
	left: 83.33333333%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666667%;
}
.col-xs-push-7 {
	left: 58.33333333%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666667%;
}
.col-xs-push-4 {
	left: 33.33333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.66666667%;
}
.col-xs-push-1 {
	left: 8.33333333%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666667%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666667%;
}
.col-xs-offset-7 {
	margin-left: 58.33333333%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.66666667%;
}
.col-xs-offset-1 {
	margin-left: 8.33333333%;
}
.col-xs-offset-0 {
	margin-left: 0;
}
@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-pull-11 {
		right: 91.66666667%;
	}
	.col-sm-pull-10 {
		right: 83.33333333%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-8 {
		right: 66.66666667%;
	}
	.col-sm-pull-7 {
		right: 58.33333333%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-5 {
		right: 41.66666667%;
	}
	.col-sm-pull-4 {
		right: 33.33333333%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-2 {
		right: 16.66666667%;
	}
	.col-sm-pull-1 {
		right: 8.33333333%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-push-11 {
		left: 91.66666667%;
	}
	.col-sm-push-10 {
		left: 83.33333333%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-8 {
		left: 66.66666667%;
	}
	.col-sm-push-7 {
		left: 58.33333333%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-5 {
		left: 41.66666667%;
	}
	.col-sm-push-4 {
		left: 33.33333333%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-2 {
		left: 16.66666667%;
	}
	.col-sm-push-1 {
		left: 8.33333333%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-sm-offset-0 {
		margin-left: 0;
	}
}
@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.66666667%;
	}
	.col-md-1 {
		width: 8.33333333%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-pull-11 {
		right: 91.66666667%;
	}
	.col-md-pull-10 {
		right: 83.33333333%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-8 {
		right: 66.66666667%;
	}
	.col-md-pull-7 {
		right: 58.33333333%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-5 {
		right: 41.66666667%;
	}
	.col-md-pull-4 {
		right: 33.33333333%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-2 {
		right: 16.66666667%;
	}
	.col-md-pull-1 {
		right: 8.33333333%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-push-11 {
		left: 91.66666667%;
	}
	.col-md-push-10 {
		left: 83.33333333%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-8 {
		left: 66.66666667%;
	}
	.col-md-push-7 {
		left: 58.33333333%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-5 {
		left: 41.66666667%;
	}
	.col-md-push-4 {
		left: 33.33333333%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-2 {
		left: 16.66666667%;
	}
	.col-md-push-1 {
		left: 8.33333333%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-md-offset-0 {
		margin-left: 0;
	}
}
@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-11 {
		width: 91.66666667%;
	}
	.col-lg-10 {
		width: 83.33333333%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-8 {
		width: 66.66666667%;
	}
	.col-lg-7 {
		width: 58.33333333%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-5 {
		width: 41.66666667%;
	}
	.col-lg-4 {
		width: 33.33333333%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-2 {
		width: 16.66666667%;
	}
	.col-lg-1 {
		width: 8.33333333%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-pull-11 {
		right: 91.66666667%;
	}
	.col-lg-pull-10 {
		right: 83.33333333%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-8 {
		right: 66.66666667%;
	}
	.col-lg-pull-7 {
		right: 58.33333333%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-5 {
		right: 41.66666667%;
	}
	.col-lg-pull-4 {
		right: 33.33333333%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-2 {
		right: 16.66666667%;
	}
	.col-lg-pull-1 {
		right: 8.33333333%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-push-11 {
		left: 91.66666667%;
	}
	.col-lg-push-10 {
		left: 83.33333333%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-8 {
		left: 66.66666667%;
	}
	.col-lg-push-7 {
		left: 58.33333333%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-5 {
		left: 41.66666667%;
	}
	.col-lg-push-4 {
		left: 33.33333333%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-2 {
		left: 16.66666667%;
	}
	.col-lg-push-1 {
		left: 8.33333333%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-lg-offset-0 {
		margin-left: 0;
	}
}
/* Adding Custom Bootstrap CSS as needed - Ends */

.checkbox-lg {
	zoom:1.5;
}

.blue-dropdown {
	background-color: #577fb2 !important;
	color: white !important;
	-webkit-appearance: none !important;
	-webkit-border-radius: 0px !important;
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !important;
	background-position: 100% 50% !important;
	background-repeat: no-repeat !important;
	border: 0px !important;
}

#chooseGroup .row {
	padding-top: 20px;
	padding-bottom: 10px;
}
#chooseGroup label {
	font-weight: normal;
	color: #54a4ea;
}
#chooseGroup .submitBtn {
	width: 100%;
	padding: 15px;
	width: 100%;
	border: 1px solid #dbdfe7 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: none !important;
}
#chooseGroup .form-control {
	height: 40px !important;
}

.ui-tabs .ui-tabs-nav li{
	border-bottom-width : 2px !important;
	margin: 0 3px 3px 0 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	padding-bottom: 0px;
}
#filtersStatusTitle{
	text-decoration : none;
}
.panel.panel-forms .panel-heading .accordion-toggle::after, .averistar-bs3 .panel.panel-forms .panel-heading .accordion-toggle::after{
	/* color:#fff !important; */
}
.thSno{
	height:29px !important;
	width:30px !important;
	padding:12px 12px 12px 12px !important;
	text-align:left;
}
#allUsers.tablesorter thead tr .header:first-child{
	background-image:none;
   /* border-left: none;
    margin-left: -1px;*/
}
#allUsers.tablesorter tbody tr td:first-child {
    border-left: none;
}
#allUsers.tablesorter tbody tr td:last-child {
    border-right: none;
}
.thActivated{
	width: 61px !important;
	height: 23px !important;
	padding: 18px 31px 12px 12px !important;
	text-align: left !important;
}

#allUsers.tablesorter thead tr .header {
	background-image: url(/Express/images/blue/bg.gif);
	background-repeat: no-repeat;
	padding: 15px 0;
	text-align: left;
	background-position: 93% 50% !important;	
}

.thRegistered{
	width: 68px !important;
	height: 23px !important;
	padding: 18px 31px 12px 12px !important;
	text-align: left !important;
}
.thsmall{
	width:150px !important;
	height:23px !important;
	padding:18px 12px 12px 12px !important;
	text-align:left !important;
}
.thmid{
	width:200px !important;
	height:23px !important;
	padding:26px 12px 12px 12px !important;
	text-align:left;
	
}
.thbig{
	width:300px !important;
	height:23px !important;
	padding:18px 12px 12px 12px !important;
	text-align:left !important;
}
/*.usersTableColor{
	margin:10px 0 0 0 !important;
	border : 2px solid #FFBC3D !important; 
}*/
.tableBorder{
	border:none;
}

table.tablesorter{
	border:1px;
}

/* Start Code Added by Anshu @05 Mach 2018 */
.averistar-bs3 .panel-heading .accordion-toggle:after {	
	color: white ! important;         /* adjust as needed */
}
.averistar-bs3 .panel-heading .accordion-toggle.collapsed:after {	
        color: grey ! important;         /* adjust as needed */
}
.averistar-bs3 .panel-heading .accordion-toggle.collapsed:hover::after {	
        color: white ! important;         /* adjust as needed */
}


.panel.panel-forms .panel-heading .accordion-toggle:after,
.averistar-bs3 .panel.panel-forms .panel-heading .accordion-toggle:after {
	color: white ! important;
}
.panel.panel-forms .panel-heading .accordion-toggle:after,
.averistar-bs3 .panel.panel-forms .panel-heading .accordion-toggle:hover {
	color: white ! important;
}

.averistar-bs3 .panel.panel-forms .panel-heading .accordion-toggle:after a:hover {
	color: white ! important;
}

.panel.panel-forms .panel-heading .accordion-toggle.collapsed:after,
.averistar-bs3 .panel.panel-forms .panel-heading .accordion-toggle.collapsed:after {
        color: grey ! important;
}
.panel.panel-forms .panel-heading .accordion-toggle.collapsed:after,
.averistar-bs3 .panel.panel-forms .panel-heading .accordion-toggle.collapsed:hover::after {
        color: white ! important;
}
/* End Code Added by Anshu @05 Mach 2018 */

/* Filters - Start */

.filterTitleBtn{
	text-decoration : none;
	float:right;
	margin-left:3px;
	margin-top:0;
}

.disableFilter
{
	background: none repeat scroll 0 0 burlyWood;
	cursor: default !important;
}
.enableFilter{
	color: #2b2;
}
.expandFilterClass{
	cursor:pointer;
}
.filtersApplied{
	font-size:12px;
	font-weight:bold;
}

.filterTitleH1 {
	font-size: 2em;
	width: 100%;
	color: #242424;
	background: #FFF;
}

.dkFB_Filter_Item_Row {
	padding-top: 20px;
}
.dkFB_Filter_Item_Row_label {
	display: block !important;
}
.dkFBAddFilterRowBtn, .dkFBResetFiltersBtn, .dkFBRemoveFilterRowBtn {
	width: 100%;
	border-radius: 7px !important;
}
.dkFB_Filter_Item_Row_label {
}
.dkFB_Filter_Item_Dropdown_label, .dkFB_Filter_Item_Mode_Dropdown_label, .dkFB_Filter_Item_Value_Input_label {
}
.dkFB_Filter_Item_Dropdown_Option.disabled {
	color: gray !important;
}
/* Filters - End */